
.divImgEmpresas-embars {
    margin-top: 225px;
}

.h2ImgEmpresas-embar {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin-top: 360px;
    margin-bottom: 50px;
    margin-left: 4%;
    color: #3369FF;
}


.divImg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; 
    margin-left: 2%;
}

.EmpresasgridImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); 
}

.EmpresasgridImage:hover {
    filter: none;
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .divImgEmpresas-embar {
        margin-top: 350px;
    }

    .h2ImgEmpresas-embar {
        font-family: "inter";
        font-weight: 800;
        font-size: 16px;
        margin-top: -60px;
        margin-bottom: 40px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }

    .EmpresasgridImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%); /* Convertir imágenes en escala de grises */
    }

    .EmpresasgridImage:hover {
        filter: none;
    }
}


@media (min-width: 601px) and (max-width: 960px) {

    .divImgEmpresas-embars {
        margin-top: 250px;
    }

    .h2ImgEmpresas-embar {
        font-family: "inter";
        font-weight: 800;
        font-size: 16px;
        margin-top: 200px;
        margin-bottom: 40px;
        margin-left: 4%;
        color: #3369FF;
    }
}


/* Media query para pantallas de menos de 600px */
@media only screen and (max-width: 600px) {
    .divImg {
        display: grid;
        grid-template-columns: repeat(4, 1fr)!important;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-embar {
        font-family: "inter";
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 150px;
        margin-bottom: 0px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImgEmpresas-embars {
        margin-top: 230px;
    }

    .EmpresasgridImage {
        height: 120%;
    }

}


@media only screen and (min-width: 401px) and (max-width: 500px) {

    .divImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-embar {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 150px!important;
        margin-bottom: 30px !important;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImgEmpresas {
        margin-top: 230px;
    }

    .EmpresasgridImage {
        height: 120%;
    }


}

@media only screen and (min-width: 391px) and (max-width: 400px) {

    .divImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    
s
    .h2ImgEmpresas-embar {
        font-family: inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: -60px;
        margin-bottom: 20px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImgEmpresas {
        margin-top: 230px;
    }

    .EmpresasgridImage {
        height: 120%;
    }


}

@media only screen and (min-width: 100px) and (max-width: 390px) {

    .divImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-embar {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 131px;
        margin-bottom: 20px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImgEmpresas {
        margin-top: 250px;
    }

    .EmpresasgridImage {
        height: 120%;
    }

}
