   /* RetirementPlan.css */
   .retirement-plan-container {
    background-color: transparent; /* Color de fondo similar al de la imagen */
    padding: 20px;
    border-radius: 10px;
    font-family: inter;
    color:rgba(141, 139, 142, 1);
    line-height: 1.6;
    margin-top: 380px;
    margin-bottom: -350px;
    margin-left: 55px;
    margin-right: 30px;
    font-size: 14px;
  }
  
  .retirement-plan-container p {
    width: 90%;
    font-family: inter;
    font-size: 12px;
    margin: 10px 0;
    color:rgba(141, 139, 142, 1);
  }
  
  .retirement-plan-container a {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    text-decoration: none;
    transition: none;
  }

  .retirement-plan-container span {
    font-weight: 700;
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    text-decoration: none;
  }
  
  
  .retirement-plan-container ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .retirement-plan-container li::marker {
    margin: 5px 0;
  }
  
  .retirement-plan-container li::marker {
    color:rgba(141, 139, 142, 1);
    font-size: 8px;
  }
  

  @media (min-width: 1401px) and (max-width: 1600px) {

    /* RetirementPlan.css */
.retirement-plan-container {
  background-color: #ffffff; /* Color de fondo similar al de la imagen */
  padding: 20px;
  border-radius: 10px;
  font-family: inter;
  color:rgba(141, 139, 142, 1);
  line-height: 1.6;
  margin-top: 300px;
  margin-bottom: -300px;
  margin-left: 45px;
  margin-right: 25px;
}

.retirement-plan-container p {
  width: 90%;
  font-family: inter;
  font-size: 12px;
  margin: 10px 0;
  color:rgba(141, 139, 142, 1);
  transition: none!important;
}

.retirement-plan-container a {
  font-family: inter;
  font-size: 12px;
  color: rgba(141, 139, 142, 1);
  text-decoration: none;
  transition: none;
}


.retirement-plan-container ul {
  margin: 10px 0;
  padding-left: 20px;
}

.retirement-plan-container li::marker {
  margin: 5px 0;
}

.retirement-plan-container li::marker {
  color:rgba(141, 139, 142, 1);
  font-size: 8px;
}

  }
  

  @media (min-width: 1200px) and (max-width: 1400px) {

    /* RetirementPlan.css */
.retirement-plan-container {
  background-color: #ffffff; /* Color de fondo similar al de la imagen */
  padding: 20px;
  border-radius: 10px;
  font-family: inter;
  color:rgba(141, 139, 142, 1);
  line-height: 1.6;
  margin-top: 220px;
  margin-bottom: -250px;
  margin-left: 35px;
  margin-right: 30px;
}

.retirement-plan-container p {
  width: 90%;
  font-family: inter;
  font-size: 12px;
  margin: 10px 0;
  color:rgba(141, 139, 142, 1);
  transition: none!important;
}

.retirement-plan-container a {
  font-family: inter;
  font-size: 12px;
  color: rgba(141, 139, 142, 1);
  text-decoration: none;
  transition: none;
}


.retirement-plan-container ul {
  margin: 10px 0;
  padding-left: 20px;
}

.retirement-plan-container li::marker {
  margin: 5px 0;
}

.retirement-plan-container li::marker {
  color:rgba(141, 139, 142, 1);
  font-size: 8px;
}

  }

  @media (min-width: 601px) and (max-width: 960px) {

    
    /* RetirementPlan.css */
.retirement-plan-container {
  background-color: #ffffff; /* Color de fondo similar al de la imagen */
  padding: 20px;
  border-radius: 10px;
  font-family: inter;
  color:rgba(141, 139, 142, 1);
  line-height: 1.6;
  margin-top: 220px;
  margin-bottom: -250px;
  margin-left: 35px;
  margin-right: 30px;
}

.retirement-plan-container p {
  width: 90%;
  font-family: inter;
  font-size: 12px;
  margin: 10px 0;
  color:rgba(141, 139, 142, 1);
  transition: none!important;
}

.retirement-plan-container a {
  font-family: inter;
  font-size: 12px;
  color: rgba(141, 139, 142, 1);
  text-decoration: none;
  transition: none;
}


.retirement-plan-container ul {
  margin: 10px 0;
  padding-left: 20px;
}

.retirement-plan-container li::marker {
  margin: 5px 0;
}

.retirement-plan-container li::marker {
  color:rgba(141, 139, 142, 1);
  font-size: 8px;
}

}
   

@media only screen and (max-width: 600px) {


    /* RetirementPlan.css */
    .retirement-plan-container {
      background-color: transparent; /* Color de fondo similar al de la imagen */
      padding: 0px;
      border-radius: 10px;
      font-family: inter;
      color:rgba(141, 139, 142, 1);
      line-height: 1.6;
      margin-top: 450px;
      margin-bottom: -380px;
      margin-left: 20px;
      margin-right: 30px;
    }
    
    .retirement-plan-container p {
      width: 95%;
      font-family: inter;
      font-size: 12px;
      margin: 10px 0;
      color:rgba(141, 139, 142, 1);
      transition: none!important;
    }
    
    .retirement-plan-container a {
      font-family: inter;
      font-size: 12px;
      color: rgba(141, 139, 142, 1);
      text-decoration: none;
      transition: none;
    }
    
    
    .retirement-plan-container ul {
      margin: 10px 0;
      padding-left: 20px;
    }
    
    .retirement-plan-container li::marker {
      margin: 5px 0;
    }
    
    .retirement-plan-container li::marker {
      color:rgba(141, 139, 142, 1);
      font-size: 8px;
    }

}



@media only screen and (min-width: 426px) and (max-width: 500px) {

   /* RetirementPlan.css */
   .retirement-plan-container {
    background-color: transparent; /* Color de fondo similar al de la imagen */
    padding: 0px;
    border-radius: 10px;
    font-family: inter;
    color:rgba(141, 139, 142, 1);
    line-height: 1.6;
    margin-top: 460px;
    margin-bottom: -420px;
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .retirement-plan-container p {
    width: 95%;
    font-family: inter;
    font-size: 12px;
    margin: 10px 0;
    color:rgba(141, 139, 142, 1);
    transition: none!important;
  }
  
  .retirement-plan-container a {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    text-decoration: none;
    transition: none;
  }
  
  
  .retirement-plan-container ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .retirement-plan-container li::marker {
    margin: 5px 0;
  }
  
  .retirement-plan-container li::marker {
    color:rgba(141, 139, 142, 1);
    font-size: 8px;
  }

}

@media only screen and (min-width: 391px) and (max-width: 425px) {

   /* RetirementPlan.css */
   .retirement-plan-container {
    background-color: transparent; /* Color de fondo similar al de la imagen */
    padding: 0px;
    border-radius: 10px;
    font-family: inter;
    color:rgba(141, 139, 142, 1);
    line-height: 1.6;
    margin-top: 440px;
    margin-bottom: -380px;
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .retirement-plan-container p {
    width: 95%;
    font-family: inter;
    font-size: 12px;
    margin: 10px 0;
    color:rgba(141, 139, 142, 1);
    transition: none!important;
  }
  
  .retirement-plan-container a {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    text-decoration: none;
    transition: none;
  }
  
  
  .retirement-plan-container ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .retirement-plan-container li::marker {
    margin: 5px 0;
  }
  
  .retirement-plan-container li::marker {
    color:rgba(141, 139, 142, 1);
    font-size: 8px;
  }

}

@media only screen and (min-width: 100px) and (max-width: 360px) {

   /* RetirementPlan.css */
   .retirement-plan-container {
    background-color: transparent; /* Color de fondo similar al de la imagen */
    padding: 0px;
    border-radius: 10px;
    font-family: inter;
    color:rgba(141, 139, 142, 1);
    line-height: 1.6;
    margin-top: 350px;
    margin-bottom: -350px;
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .retirement-plan-container p {
    width: 95%;
    font-family: inter;
    font-size: 12px;
    margin: 10px 0;
    color:rgba(141, 139, 142, 1);
    transition: none!important;
  }
  
  .retirement-plan-container a {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    text-decoration: none;
    transition: none;
  }
  
  
  .retirement-plan-container ul {
    margin: 10px 0;
    padding-left: 20px;
  }
  
  .retirement-plan-container li::marker {
    margin: 5px 0;
  }
  
  .retirement-plan-container li::marker {
    color:rgba(141, 139, 142, 1);
    font-size: 8px;
  }

}