
   
    /* NOTEBOOK */


    @media 
  (min-width: 1200px) and (max-width: 1600px) {
    
    .semisphere-container-hogar {
        position: relative;
        width: 100%;
        padding: 0px 0px;
        background-color: #ffffff; 
        overflow: hidden;
        height: 2904px;
        z-index: 1; /* Cambiado a 1 para evitar problemas de superposición */
      }
      
      .semisphere-hogar {
        position: absolute;
        top: 385px;
        right: -750px;
        width: 818px;
        height: 1000px;
        background: radial-gradient(ellipse, rgba(51, 255, 204, 1) -70%, rgba(235, 254, 249, 0) 67%);
        border-bottom-right-radius: 345px;
        transform: translate(-65%, -48%);
        pointer-events: none; /* Permite clics a través de la semiesfera */
        z-index: -1; /* Aseguramos que esté detrás de los botones y contenido */
      }
      
      .semisphere-hogar2 {
          position: absolute;
          top: 928px;
          right: 257px;
          width: 818px;
          height: 1000px;
          background: radial-gradient(ellipse, rgba(51, 255, 204, 1) -70%, rgba(235, 254, 249, 0) 67%);
          border-bottom-right-radius: 345px;
          transform: translate(-65%, -48%);
          pointer-events: none;
          z-index: -1;
      }
      


  }
  


  /* TABLET */



  @media (min-width: 601px) and (max-width: 900px) {



  }

    

  /* CELULAR */



@media only screen and (max-width: 600px) {
  
   
}