.header-celular .imgPorDefectoMotos{
    display: block;
  }
  
  .header-celular .imgRemplazoMotos{
    display: none;
  }
  .header-celular .imgFotoCelular{
    display: none;
  }
  
  .header-celular img{
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: -1;
   
  }
  .container-celular{
    position: relative;
    z-index: 1;
    top: 120px;
    left:4%
  }
  
  
  .h1-celular {
  z-index: 1;
  color: white;
  font-size: 35px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 900;
  padding: 10px;
  top: 40px;
  } 
  
  .h2-celular{
  margin-top: 10px;
  color: white;
  font-family: inter;
  font-weight: 700;
  inline-size: 45%;
  }
  
  .h3-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 400;
  }
  
  .buttonMotosHeader {
    display: flex;
    position: relative;
    top: 60px;
    padding: 6px 75px 6px 75px;
    border-radius: 6px;
    border: 0.2px transparent;
    background-color: #33FFCC;
  }
  
  .buttonMotosHeader a {
    font-size: 12px;
    font-family: 'Inter';
    text-decoration: none;
    color: #3369FF;
  }
  
  /* ////////notebook////////// */
  
  @media 
  (min-width: 1200px) and (max-width: 1600px) {
  
    .container-celular{
      top: 50px;
    }
  
    .h2-celular{
      font-weight: 700;
      font-size: 130%;
    }
  
    .h3-celular{
      margin-bottom: -40px;
      font-size: 90%;
      font-weight: 400!important;
      font-family: inter;
    }
        
      
      .buttonMotosHeader {
        display: flex;
        position: relative;
        top: 60px;
        padding: 6px 75px 6px 75px;
        border-radius: 6px;
        border: 0.2px transparent;
        background-color: #33FFCC;
      }
      
      .buttonMotosHeader a {
        font-size: 12px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
      }
    }
  
  
  
  
    @media (min-width: 601px) and (max-width: 960px) {
  
      .header-celular .imgRemplazoMotos {
        display: flex;
    }
  
    .container-celular{
      top: 30px;
      width: 90%;
     
    }
  
    .container-celular{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-celular {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-celular{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-celular{
    margin-left: 0.1%;
    font-weight: 500;
    font-size: 150%!important;
    padding: 4PX;
  }
  
  .h2-celular{
    font-weight: 500;
    font-size: 80%;
  }
   
  .h3-celular{
    font-size: 60%;
  }
  
    .header-celular .imgPorDefectoMotos{
      display: none;
    }
    
    .header-celular .imgFotoCelular{
      display: none;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  
  
    }
  
  
  
  
  /* ///////////////Celular////////////*/
   
  @media only screen and (max-width: 600px) {
  
    .header-celular img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -300px!important;
    }
  
  
    .container-celular{
      top: 30px;
      width: 90%;
     
    }
  
    .container-celular{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-celular {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-celular{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-celular{
   
    margin-left: 0.1%;
    font-weight: 500;
    font-size: 100%!important;
    padding: 4PX;
  }
  
  .h2-celular{
    font-weight: 500;
    font-size: 80%;
  }
  
  
   
  .h3-celular{
    font-size: 60%;
  }
  
    .header-celular .imgPorDefectoMotos{
      display: none;
    }
    
    .header-celular .imgRemplazoMotos{
      display: none;
    }
  
    .header-celular .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  
  }


  @media only screen and (min-width: 431px) and (max-width: 500px) {

    .header-celular img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -235px!important;
    }
  
  
    .container-celular{
      top: 30px;
      width: 90%;
     
    }
  
    .container-celular{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-celular {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-celular{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-celular{
   
    margin-left: 0.1%;
    font-weight: 500;
    font-size: 100%!important;
    padding: 4PX;
  }
  
  .h2-celular{
    font-weight: 500;
    font-size: 80%;
  }
  
  
   
  .h3-celular{
    font-size: 60%;
  }
  
    .header-celular .imgPorDefectoMotos{
      display: none;
    }
    
    .header-celular .imgRemplazoMotos{
      display: none;
    }
  
    .header-celular .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }


  }

  
  
  @media only screen and (min-width: 361px) and (max-width: 430px) {
  
    .header-celular img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -265px!important;
    }
  
  
    .container-celular{
      top: 30px;
      width: 90%;
     
    }
  
    .container-celular{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-celular {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-celular{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-celular{
   
    margin-left: 0.1%;
    font-weight: 500;
    font-size: 100%!important;
    padding: 4PX;
  }
  
  .h2-celular{
    font-weight: 500;
    font-size: 80%;
  }
  
  
   
  .h3-celular{
    font-size: 60%;
  }
  
    .header-celular .imgPorDefectoMotos{
      display: none;
    }
    
    .header-celular .imgRemplazoMotos{
      display: none;
    }
  
    .header-celular .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  
  }
  
  @media only screen and (min-width: 100px) and (max-width: 360px) {

    .header-celular img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -225px!important;
    }
  
  
    .container-celular{
      top: 30px;
      width: 90%;
     
    }
  
    .container-celular{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-celular {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-celular{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-celular{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-celular{
   
    margin-left: 0.1%;
    font-weight: 500;
    font-size: 100%!important;
    padding: 4PX;
  }
  
  .h2-celular{
    font-weight: 500;
    font-size: 80%;
  }
  
  
   
  .h3-celular{
    font-size: 60%;
  }
  
    .header-celular .imgPorDefectoMotos{
      display: none;
    }
    
    .header-celular .imgRemplazoMotos{
      display: none;
    }
  
    .header-celular .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  

  }
  
  
    