
  
  .todoRiesgoContainer {
    margin-top: 100px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .todoRiesgoTitle {
    color: rgba(51, 105, 255, 1);
    font-size: 16px;
    font-weight: 800;
    font-family: inter;
    display: flex;
    margin: -40px 0px 30px 55px;
  }
  
  .todoRiesgoItems {
    display: flex;
    justify-content: space-around;
    align-items: start;
    position: relative;
    margin-left: -50px;
  }
  
  .todoRiesgoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(141, 139, 142, 1) ;
  } 

  .todoRiesgoItem span {
    position: absolute;
    top: 30px;
    font-size: 16px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
  }
  
  .todoRiesgoIcon {
    width: 100%;
    margin-bottom: 8px;
  }
  


  @media 
  (min-width: 1401px) and (max-width: 1600px) {


  
    .todoRiesgoContainer {
      margin-top: 100px;
  
      padding: 20px;
      border-radius: 8px;
      text-align: center;
    }
    
    .todoRiesgoTitle {
      color: rgba(51, 105, 255, 1);
      font-size: 16px;
      font-weight: 800;
      font-family: inter;
      display: flex;
      margin: -40px 0px 30px 40px;
    }
    
    .todoRiesgoItems {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-left: -4px;
    }
    
    .todoRiesgoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      color:rgba(141, 139, 142, 1) ;
    } 
  
    .todoRiesgoItem span {
      position: absolute;
      top: 30px;
      font-size: 16px;
      font-family: inter;
      font-weight: 700;
      color: rgba(141, 139, 142, 1);
    }
    
    .todoRiesgoIcon {
      width: 90%;
      margin-bottom: 8px;
    }

  

  }



  @media 
  (min-width: 1200px) and (max-width: 1400px) {


  
    .todoRiesgoContainer {
      margin-top: 100px;
  
      padding: 20px;
      border-radius: 8px;
      text-align: center;
    }
    
    .todoRiesgoTitle {
      color: rgba(51, 105, 255, 1);
      font-size: 16px;
      font-weight: 800;
      font-family: inter;
      display: flex;
      margin: -40px 0px 30px 30px;
    }
    
    .todoRiesgoItems {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-left: -4px;
    }
    
    .todoRiesgoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      color:rgba(141, 139, 142, 1) ;
    } 
  
    .todoRiesgoItem span {
      position: absolute;
      top: 30px;
      font-size: 16px;
      font-family: inter;
      font-weight: 700;
      color: rgba(141, 139, 142, 1);
    }
    
    .todoRiesgoIcon {
      width: 90%;
      margin-bottom: 8px;
    }

  

  }


  @media (min-width: 601px) and (max-width: 960px) {


    .todoRiesgoContainer {
      margin-top: 100px;
      padding: 20px;
      border-radius: 8px;
      text-align: center;
    }
    
    .todoRiesgoTitle {
      color: rgba(51, 105, 255, 1);
      font-size: 16px;
      font-weight: 800;
      font-family: inter;
      display: flex;
      margin: -40px 0px 30px 18px;
    }
    
    .todoRiesgoItems {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      margin-left: -6px;
    }
    
    .todoRiesgoItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      color:rgba(141, 139, 142, 1) ;
    } 
  
    .todoRiesgoItem span {
      position: absolute;
      top: 23px;
      font-size: 14px;
      font-family: inter;
      font-weight: 700;
      color: rgba(141, 139, 142, 1);
    }
    
    .todoRiesgoIcon {
      width: 90%;
      margin-bottom: 8px;
    }
  }


  @media only screen and (max-width: 600px) {

  
    .todoRiesgoContainer {
      margin-top: 100px;
      padding: 0px 0px 0px 18px;
      border-radius: 8px;
      text-align: center;
    }
    
    .todoRiesgoTitle {
      color: rgba(51, 105, 255, 1);
      font-size: 12px;
      font-weight: 800;
      font-family: inter;
      display: flex;
      margin: -40px 0px 40px 00px;
    }
    
    .todoRiesgoItems {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
      align-items: center;
      justify-content: center;
      position: relative;
      margin-bottom: 40px;
      margin-left: -6px;
    }
    
    .todoRiesgoItem {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      color:rgba(141, 139, 142, 1) ;
    } 
  
    .todoRiesgoItem span {
      position: relative;
      top: -4px;
      right: -35px;
      font-size: 12px;
      font-family: inter;
      font-weight: 700;
      color: rgba(141, 139, 142, 1);
    }
    
    .todoRiesgoIcon {
     display: flex;
     position: absolute;
     width: 40%;
    }


  }


  @media only screen and (min-width: 100px) and (max-width: 430px) {

    
  }