.email-form {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 50px;
  padding: 5px 15px 5px 0px;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

.email-input {
  flex: 1;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 12px;
  font-family: inter;
  font-weight: 400;
  outline: none;
}

.input-error {
  border: 2px solid #ffffff;
}

.error-message {
  color: red;
  font-size: 12px;
  font-family: inter;
  font-weight: 400;
  position: absolute;
  bottom: -20px;
  left: 15px;
  margin: 0;
}

.submit-button {
  background-color: #00f6b9;
  border: none;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit-button .arrow {
  color: #3369FF;
  font-size: 24px;
  line-height: 24px;
}

.submit-button:focus {
  outline: none;
}

.fa-angle-right:before {
  content: "\f105";
  color: #3369FF;
  font-size: 16px;
}



@media only screen and (max-width: 600px) {

  .email-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 15px 5px 0px;
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }
  
  .email-input {
    flex: 1;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 12px;
    font-family: inter;
    font-weight: 400;
    outline: none;
  }
  
  .input-error {
    border: 2px solid #ffffff;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    font-family: inter;
    font-weight: 400;
    position: absolute;
    bottom: -20px;
    left: 15px;
    margin: 0;
  }
  
  .submit-button {
    background-color: #00f6b9;
    border: none;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .submit-button .arrow {
    color: #3369FF;
    font-size: 24px;
    line-height: 24px;
  }
  
  .submit-button:focus {
    outline: none;
  }
  
  .fa-angle-right:before {
    content: "\f105";
    color: #3369FF;
    font-size: 16px;
  }

}