.separator-interm {
    margin-bottom: 60px;
}

@media 
(min-width: 1401px) and (max-width: 1600px) { 

    .separator-interm {
        margin-bottom: 120px;
    } 
}


@media 
(min-width: 1200px) and (max-width: 1400px) { 

    .separator-interm {
        margin-bottom: 100px;
    } 
}