
.coberturas-container-vgts {
    text-align: center;
    padding: 40px 40px;
    border-radius: 8px;
  }
  
  .coberturas-title-vgts {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #3369FF;
    display: flex;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-top: 30px;
    text-align: left;
  
  }
  
  .coberturas-description-vgts {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #8D8B8E;
    margin-bottom: 30px;
    display: flex;
    text-align: start;
    margin-left: 40px;
    inline-size: 1175px;
  }
  
  .coberturas-grid-vgts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .cobertura-card-vgts {
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 410px;
  }
  
  .cobertura-icon-vgts {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    background-color: transparent;
  }
  
  .cobertura-title-vgts {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    color: #8D8B8E;
  }
  
  
  @media 
  (min-width: 1200px) and (max-width: 1400px) {
  
  .coberturas-container-vgts {
      text-align: center;
      padding: 40px 20px;
      border-radius: 8px;
    }
    
    .coberturas-title-vgts {
      font-family: 'Inter', sans-serif;
      font-weight: 700;
      font-size: 16px;
      color: #3369FF;
      margin-bottom: 30px;
      display: flex;
      margin-left: 30px;
      margin-top: 30px;
      text-align: left;
    }
    
    .coberturas-description-vgts {
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      color: #8D8B8E;
      margin-bottom: 30px;
      display: flex;
      text-align: start;
      margin-left: 30px;
      inline-size: 1175px;
    }
    
    .coberturas-grid-vgts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      justify-items: center;
      margin-left: 25px;
      margin-right: 25px;
    }
    
    .cobertura-card-vgts {
      background-color: white;
      border-radius: 25px;
      padding: 20px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100%;
      max-width: 290px;
    }
    
    .cobertura-icon-vgts {
      width: 50px;
      height: 50px;
      margin-bottom: 15px;
      background-color: transparent;
    }
    
    .cobertura-title-vgts {
      font-family: 'Inter';
      font-size: 12px;
      font-weight: 700;
      color: #8D8B8E;
    }
  }
  
  @media (min-width: 601px) and (max-width: 900px) {
  
    .coberturas-grid-vgts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      justify-items: center;
      margin-left: 25px;
      margin-right: 25px;
      margin-bottom: 60px;
    }
  
    .coberturas-description-vgts {
      font-family: 'Inter', sans-serif;
      font-size: 12px;
      color: #8D8B8E;
      margin-bottom: 30px;
      display: flex;
      text-align: start;
      margin-left: 30px;
      inline-size: 630px;
    }
    
    .coberturas-container-vgts {
      text-align: center;
      padding: 40px 0px 0px 0px;
      border-radius: 8px;
    }
    
    .coberturas-title-vgts {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #3369FF;
    margin-bottom: 30px;
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
    text-align: left;
    }
    
  
  }
  
  
    @media (max-width: 600px) {
      .coberturas-grid-vgts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
        margin-left: 15px;
        margin-right: 15px;
      }
  
      .coberturas-description-vgts {
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        color: #8D8B8E;
        margin-bottom: 30px;
        display: flex;
        text-align: start;
        margin-left: 30px;
        inline-size: 300px;
      }
      
      .coberturas-container-vgts {
        text-align: center;
        padding: 40px 0px 0px 0px;
        border-radius: 8px;
      }
      
      .coberturas-title-vgts {
      font-family: 'Inter', sans-serif;
      font-weight: 800!important;
      font-size: 12px;
      color: #3369FF;
      margin: 10px 0px 30px 20px;
      display: flex;
      text-align: left;
      inline-size: 350px;
      }
      
  
    }
    
  
    @media (min-width: 100px) and (max-width: 360px) {
  
      .coberturas-grid-vgts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
        justify-items: center;
        margin-left: 15px;
        margin-right: 15px;
      }
  
      .coberturas-description-vgts {
        font-family: 'Inter';
        font-size: 12px;
        color: #8D8B8E;
        margin-bottom: 30px;
        display: flex;
        text-align: start;
        margin-left:25px;
        inline-size: 300px;
      }
      
      .coberturas-container-vgts {
        text-align: center;
        padding: 40px 0px 0px 0px;
        border-radius: 8px;
      }
      
      .coberturas-title-vgts {
        font-family: 'Inter', sans-serif;
        font-weight: 800!important;
        font-size: 12px;
        color: #3369FF;
        margin: 10px 0px 30px 20px;
        display: flex;
        text-align: left;
        inline-size: 350px;
        }
        
  
  
  }