.h2Acordeon-bici {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 4%;
    color: #3369FF;
}

.h3Acordeon-bici {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 4%;
    color: #8D8B8E;
}



@media 
  (min-width: 1200px) and (max-width: 1600px) {
.h2Acordeon-bici {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 4%;
    color: #3369FF;
}

.h3Acordeon-bici {
    font-family: Inter;
    font-weight: 800;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 4%;
    color: #8D8B8E;
}

  }

  @media only screen and (max-width: 600px) {

    .h2Acordeon-bici {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px;
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: 4%;
        color: #3369FF;
    }
    
    .h3Acordeon-bici {
        font-family: Inter;
        font-weight: 800;
        font-size: 8px;
        margin-top: 20px;
        margin-bottom: 15px;
        margin-left: 4%;
        color: #8D8B8E;
    }


  }