.divPadreAcordeon {
  width: 100%;
  margin: 0 auto; /* Centrado */
}

.bottonAcordeon {
  display: flex;
  justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
  align-items: center; /* Centra verticalmente todo el contenido */
  width: 91vw!important;
  padding: 15px;
  background-color: #fff;
  border: none;
  outline: none;
  font-size: 12px;
  font-family: inter;
  font-weight: 700;
  color: rgba(141, 139, 142, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: justify;
}

.bottonAcordeon:hover {
  background-color: #f7f7f7;
}

.arrow {
  font-size: 16px;
  color: rgba(51, 105, 255, 1);
  transition: transform 0.3s ease;
}

.arrow-open {
  transform: rotate(180deg); /* Rotar la flecha hacia arriba */
}

.arrow-closed {
  transform: rotate(360deg); /* Flecha por defecto */
}

.divHijoBiciAcordeon {
  display: none; /* Ocultar contenido por defecto */
  padding: 0 15px 15px 15px;
  font-size: 14px;
  color: rgba(141, 139, 142, 1);
}

.divHijoBiciAcordeon.show {
  display: block; /* Mostrar contenido al abrir */
}

hr {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 0;
  width: 91vw;
}

  .divHijoBiciAcordeon p {
  font-family: inter;
  font-size: 14px;
  color: rgba(141, 139, 142, 1)!important;
  font-weight: 400;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1)!important;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -90px;
    padding-top: 10px;
    width: 90%;
    }


@media 
(min-width: 1400px) and (max-width: 1600px) { 

  .divPadreAcordeon {
    width: 100%;
    max-width: 800px; /* Ancho máximo del acordeón */
    margin: 0 auto; /* Centrado */
  }
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 91vw!important;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 16px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw;
  }
  
  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -45px;
    padding-top: 10px;
    width: 90%;
    }
}

@media 
(min-width: 1200px) and (max-width: 1400px) { 

  .divPadreAcordeon {
    width: 100%;
    max-width: 800px; /* Ancho máximo del acordeón */
    margin: 0 auto; /* Centrado */
  }
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 91vw!important;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 16px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw;
  }
  
  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -45px;
    padding-top: 10px;
    width: 90%;
    }

}

@media (min-width: 841px) and (max-width: 960px) {

  .divPadreAcordeon {
    width: 100%;
    max-width: 800px; /* Ancho máximo del acordeón */
    margin: 0 auto; /* Centrado */
  }
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 91vw!important;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 16px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -45px;
    padding-top: 10px;
    width: 90%;
    }
}
 


@media (min-width: 601px) and (max-width: 840px) {

  .divPadreAcordeon {
    width: 100%;
    max-width: 800px; /* Ancho máximo del acordeón */
    margin: 0 auto; /* Centrado */
  }
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 91vw!important;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 12px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 16px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -45px;
    padding-top: 10px;
    width: 90%;
    }
}

@media only screen and (max-width: 600px) {
  
  .divPadreAcordeon {
    width: 99vw;

}
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 99vw;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 8px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 12px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw!important;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -30px;
    padding-top: 10px;
    width: 90%;
    }

}



@media only screen and (min-width: 426px) and (max-width: 500px) {

  .divPadreAcordeon {
    width: 99vw;

}
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 98vw;
    padding: 10px 0px 10px -4px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 8px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 12px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw!important;
  }


  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -30px;
    padding-top: 10px;
    width: 90%;
    }
}

@media only screen and (min-width: 391px) and (max-width: 425px) {

  .divPadreAcordeon {
    width: 99vw;

}
  
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 98vw;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 8px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 12px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw!important;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -30px;
    padding-top: 10px;
    width: 90%;
    }
}

@media only screen and (min-width: 100px) and (max-width: 390px) {

  .divPadreAcordeon {
    width: 100vw;

}
  .bottonAcordeon {
    display: flex;
    justify-content: space-between; /* Título a la izquierda, flecha a la derecha */
    align-items: center; /* Centra verticalmente todo el contenido */
    width: 99vw;
    padding: 10px 0px 10px 0px;
    background-color: #fff;
    border: none;
    outline: none;
    font-size: 8px;
    font-family: inter;
    font-weight: 700;
    color: rgba(141, 139, 142, 1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: justify;
  }
  
  
  .bottonAcordeon:hover {
    background-color: #f7f7f7;
  }
  
  .arrow {
    font-size: 12px;
    color: rgba(51, 105, 255, 1);
    transition: transform 0.3s ease;
  }
  
  .arrow-open {
    transform: rotate(180deg); /* Rotar la flecha hacia arriba */
  }
  
  .arrow-closed {
    transform: rotate(0deg); /* Flecha por defecto */
  }
  
  .divHijoBiciAcordeon {
    display: none; /* Ocultar contenido por defecto */
    padding: 0 15px 15px 15px;
    font-size: 14px;
    color: #555;
  }
  
  .divHijoBiciAcordeon.show {
    display: block; /* Mostrar contenido al abrir */
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 0;
    width: 91vw!important;
  }

  .divHijoBiciAcordeon p {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: justify;
    margin-left: -30px;
    padding-top: 10px;
    width: 90%;
    }
}