.DivPadreCadrBici{
    margin-top: 80px;
}

.tituloBici{
    font-family: 'Arial', sans-serif;
    text-align: left;
    padding: 16px;
    font-family: inter;
    font-weight: 800;
    margin-left: 45px;
  }

  .h2Bici{
    color: #3369FF;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
  }


  @media only screen and (max-width: 600px) {

    .DivPadreCadrBici{
      margin-top: 80px;
  }
  
  .tituloBici{
      font-family: inter;
      text-align: left;
      padding: 16px;
      font-family: inter;
      font-weight: 800;
      margin-left: 15px;
      margin-top: 100px;
      margin-bottom: 15px;
    }
  

    .h2Bici{
      color: #3369FF;
      font-size: 12px;
      font-family: 'Inter';
      font-weight: 800;
    }


  }