.card-motos-wf2 {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 21px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  margin: 20px;
  text-align: center;
}

.card-title-motos-wf2 {
  color:#3369FF;
  font-size: 16px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-weight: 800;
  cursor: default;
  text-align-last: left;
}

.card-features-motos-wf2 {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.card-feature-motos-wf2 {
  font-size: 12px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px !important;
  font-family: inter;
  cursor: default;
  color: #8D8B8E;
}


.icon-check {
width: 20px; /* Cambia el tamaño según lo que necesites */
height: 20px;
}

.icon-cross {
width: 20px; /* Cambia el tamaño según lo que necesites */
height: 20px;
}

.card-button-motos-wf2 {
  background-color: #3369FF;
  color: white;
  border: none;
  padding: 6px 75px 6px 75px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  font-size: 12px;
  font-family: inter;
  cursor: pointer;
}


/* Estilos para organizar las cards en fila */
.cards-container-motos-wf2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-imagen-wf2-4taimg img{
  position: absolute;
}




@media (min-width: 1200px) and (max-width: 1600px) {
.card-motos-wf2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    margin: 20px;
    text-align: center;
  }
  
  .card-title-motos-wf2 {
    color:#3369FF;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 800;
    cursor: default;
    text-align-last: left;
  }
  
  .card-features-motos-wf2 {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .card-feature-motos-wf2 {
    font-size: 12px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px !important;
    font-family: inter;
    cursor: default;
    color: #8D8B8E;
  }
  

.icon-check {
  width: 20px; /* Cambia el tamaño según lo que necesites */
  height: 20px;
}

.icon-cross {
  width: 20px; /* Cambia el tamaño según lo que necesites */
  height: 20px;
}

  .card-button-motos-wf2 {
    background-color: #3369FF;
    color: white;
    border: none;
    padding: 6px 75px 6px 75px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-family: inter;
    cursor: pointer;
  }
  

  /* Estilos para organizar las cards en fila */
  .cards-container-motos-wf2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card-imagen-wf2-4taimg img{
    position: absolute;
  }
  
}

@media only screen and (max-width: 600px) {

  .card-motos-wf2 {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 3px 21px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 180px;
    margin: 10px 15px 25px 15px;
    text-align: center;
  }
  
  .card-title-motos-wf2 {
    color:#3369FF;
    font-size: 14px;
    margin-bottom: 20px;
    font-family: 'Inter';
    font-weight: 800;
    cursor: default;
    text-align-last: left;
  }
  
  .card-features-motos-wf2 {
    list-style: none;
    padding: 0;
    margin: 0 0 5px 0;
  }
  
  .card-feature-motos-wf2 {
    font-size: 8px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px !important;
    font-family: inter;
    cursor: default;
    color: #8D8B8E;
  }
  

.icon-check {
  width: 20px; /* Cambia el tamaño según lo que necesites */
  height: 20px;
}

.icon-cross {
  width: 20px; /* Cambia el tamaño según lo que necesites */
  height: 20px;
}

  .card-button-motos-wf2 {
    background-color: #3369FF;
    color: white;
    border: none;
    padding: 5px 35px 5px 35px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    font-size: 12px;
    font-family: inter;
    cursor: pointer;
    margin: 10px 0px 0px 0px;
  }
  

  /* Estilos para organizar las cards en fila */
  .cards-container-motos-wf2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: calc(50% - 20px); /* Dos columnas en móviles */
  }

  .card-imagen-wf2-4taimg img{
    position: absolute;
  }
  


}