.diferencia-container {
    background-color:rgba(51, 105, 255, 1);
    padding: 40px 20px;
    color: #ffffff;
    text-align: center;
  }
  
  .diferencia-title {
    font-size: 1rem;
    font-family: inter;
    font-weight: 800;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    margin-left: 15px;
  }
  
  .diferencia-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .diferencia-card {
    background-color: #ffffff;
    color: #333333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 270px;
    flex: 1;
    text-align: left;
  }
  
  .diferencia-text {
    text-align: center;
    font-size: 0.8rem;
    color: rgba(141, 139, 142, 1);
    font-family: inter;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px;
  }
  