.ofrecemos-title {
  margin-top: 40px;
  margin-left: 35px;
  margin-bottom: 30px;
  font-size: 1rem;
  font-family: inter;
  font-weight: 800;
  color: rgba(51, 105, 255, 1);
}


.ofrecemos-description {
  margin-left: 35px;
  margin-bottom: 30px;
  font-size: 0.8rem;
  font-family: inter;
  font-weight: 400;
  color: rgba(141, 139, 142, 1);
  width: 90%;
}


.ofrecemos-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0px 20px 30px;
}

.ofrecemos-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  width: 285px;
}

.ofrecemos-card:hover {
  background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
}


.ofrecemos-icon-verde { 
width: 50%;
margin: 0 auto;
}
 
.ofrecemos-icon {
  width: 50%;
  margin: 0 auto;
}

.ofrecemos-icon-verde {
  display: none;
}

.ofrecemos-card-title {
  font-size: 1rem;
  font-family: inter;
  font-weight: 800;
  color: rgba(51, 105, 255, 1);
}

.ofrecemos-card-text {
  padding-top: 10px;
  font-size: 0.8rem;
  font-family: inter;
  font-weight: 400;
  color: rgba(141, 139, 142, 1);
}

/* Mostrar el ícono verde al hacer hover */
.ofrecemos-card:hover .ofrecemos-icon-verde {
  display: block;
}

.ofrecemos-card:hover .ofrecemos-icon {
  display: none;
}

/* Cambiar el título al hacer hover */
.ofrecemos-card:hover .ofrecemos-card-title {
  color: white; /* Verde */
}

/* Cambiar el texto al hacer hover */
.ofrecemos-card:hover .ofrecemos-card-text {
  color: white; /* Verde más oscuro */
}



@media 
(min-width: 1200px) and (max-width: 1600px) { 

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 35px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 90%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px 20px 30px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 285px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 1rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }
  

}


@media (min-width: 601px) and (max-width: 900px) {

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 1rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 25px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 90%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px 20px 20px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 268px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 1rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }

}

@media only screen and (max-width: 600px) {

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 85%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px 20px 20px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 190px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 285px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }
  
 
}


@media only screen and (min-width: 421px) and (max-width: 480px) {

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 85%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px 20px 20px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 190px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 190px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }
  


}


@media only screen and (min-width: 361px) and (max-width: 420px) {

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 85%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px 20px 20px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 190px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 175px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }
  


}


@media only screen and (min-width: 0px) and (max-width: 360px) {

  .ofrecemos-title {
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  
  .ofrecemos-description {
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
    width: 85%;
  }
  
  
  .ofrecemos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px 20px 20px;
  }
  
  .ofrecemos-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    max-width: 190px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    width: 155px;
  }
  
  .ofrecemos-card:hover {
    background-color: rgba(51, 105, 255, 1); /* Fondo verde claro */
  }
  
  
  .ofrecemos-icon-verde { 
  width: 50%;
  margin: 0 auto;
  }
   
  .ofrecemos-icon {
    width: 50%;
    margin: 0 auto;
  }
  
  .ofrecemos-icon-verde {
    display: none;
  }
  
  .ofrecemos-card-title {
    font-size: 0.8rem;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .ofrecemos-card-text {
    padding-top: 10px;
    font-size: 0.6rem;
    font-family: inter;
    font-weight: 400;
    color: rgba(141, 139, 142, 1);
  }
  
  /* Mostrar el ícono verde al hacer hover */
  .ofrecemos-card:hover .ofrecemos-icon-verde {
    display: block;
  }
  
  .ofrecemos-card:hover .ofrecemos-icon {
    display: none;
  }
  
  /* Cambiar el título al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-title {
    color: white; /* Verde */
  }
  
  /* Cambiar el texto al hacer hover */
  .ofrecemos-card:hover .ofrecemos-card-text {
    color: white; /* Verde más oscuro */
  }
  

}