.cardVision-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: white; /* Color de fondo */
  border-radius: 22px;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  margin-top: 400px;
  margin-bottom: 70px;
  position: relative;
  width: 93%;
  margin-left: 35px;
}

.cardVision-separator::before {
  position: absolute;
  width: 0.111px;
  content: "";
  border-left: 0.1px solid rgba(226, 226, 226, 1);
  height: 80%;
  box-sizing: border-box;
}

.cardVision {
  text-align: center;
  flex: 1;
  margin: 0 20px;
}

.cardVision-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}

.cardVision-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(51, 105, 255, 1);
  font-family: inter;
  margin-bottom: 10px;
}

.cardVision-text {
  font-size: 0.8rem;
  color: rgba(141, 139, 142, 1);
  font-weight: 400;
  font-family: inter;
}


@media (min-width: 1401px) and (max-width: 1600px) {
  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 320px;
    margin-bottom: 70px;
    position: relative;
    width: 93%;
    margin-left: 35px;
  }
  
  .cardVision-separator::before {
    position: absolute;
    width: 0.111px;
    content: "";
    border-left: 0.1px solid rgba(226, 226, 226, 1);
    height: 80%;
    box-sizing: border-box;
  }
  
  .cardVision {
    text-align: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .cardVision-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .cardVision-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(51, 105, 255, 1);
    font-family: inter;
    margin-bottom: 10px;
  }
  
  .cardVision-text {
    font-size: 1rem;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    font-family: inter;
  }
  


}



@media (min-width: 1200px) and (max-width: 1400px) { 


  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 93%;
    margin-left: 35px;
  }
  
  .cardVision-separator::before {
    position: absolute;
    width: 0.111px;
    content: "";
    border-left: 0.1px solid rgba(226, 226, 226, 1);
    height: 80%;
    box-sizing: border-box;
  }
  
  .cardVision {
    text-align: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .cardVision-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .cardVision-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(51, 105, 255, 1);
    font-family: inter;
    margin-bottom: 10px;
  }
  
  .cardVision-text {
    font-size: 0.8rem;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    font-family: inter;
  }
  

}


@media (min-width: 601px) and (max-width: 900px) {

  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 94%;
    margin-left: 25px;
  }
  
  .cardVision-separator::before {
    position: absolute;
    width: 0.111px;
    content: "";
    border-left: 0.1px solid rgba(226, 226, 226, 1);
    height: 80%;
    box-sizing: border-box;
  }
  
  .cardVision {
    text-align: center;
    flex: 1;
    margin: 0 20px;
  }
  
  .cardVision-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  
  .cardVision-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(51, 105, 255, 1);
    font-family: inter;
    margin-bottom: 10px;
  }
  
  .cardVision-text {
    font-size: 0.8rem;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    font-family: inter;
  }

}

@media only screen and (max-width: 600px) {

  .cardVision-container {
    flex-direction: column;
    align-items: center;
  }

  .cardVision {
    margin-bottom: 20px;
  }

  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 90%;
    margin-left: 22px;
  }

  .cardVision-separator::before {
    position: absolute;
    width: 90%;
    content: "";
    border-top: 0.1px solid rgba(226, 226, 226, 1);
    height: 0.1%;
    box-sizing: border-box;
  }

  .cardVision-title {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(51, 105, 255, 1);
    font-family: inter;
    margin-bottom: 10px;
  }
  
  .cardVision-text {
    font-size: 0.8rem;
    color: rgba(141, 139, 142, 1);
    font-weight: 400;
    font-family: inter;
  }
}


@media only screen and (min-width: 421px) and (max-width: 600px) {


  .cardVision-container {
    flex-direction: column;
    align-items: center;
  }

  .cardVision {
    margin-bottom: 20px;
  }

  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 90%;
    margin-left: 22px;
  }

  .cardVision-separator::before {
    position: absolute;
    width: 90%;
    content: "";
    border-top: 0.1px solid rgba(226, 226, 226, 1);
    height: 0.1%;
    box-sizing: border-box;
  }

}


@media only screen and (min-width: 361px) and (max-width: 420px) {

  .cardVision-container {
    flex-direction: column;
    align-items: center;
  }

  .cardVision {
    margin-bottom: 20px;
  }

  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 90%;
    margin-left: 22px;
  }

  .cardVision-separator::before {
    position: absolute;
    width: 90%;
    content: "";
    border-top: 0.1px solid rgba(226, 226, 226, 1);
    height: 0.1%;
    box-sizing: border-box;
  }

}


@media only screen and (min-width: 0px) and (max-width: 360px) {

  .cardVision-container {
    flex-direction: column;
    align-items: center;
  }

  .cardVision {
    margin-bottom: 20px;
  }

  .cardVision-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background: white; /* Color de fondo */
    border-radius: 22px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    margin-top: 280px;
    margin-bottom: 70px;
    position: relative;
    width: 90%;
    margin-left: 18px;
  }

  .cardVision-separator::before {
    position: absolute;
    width: 90%;
    content: "";
    border-top: 0.1px solid rgba(226, 226, 226, 1);
    height: 0.1%;
    box-sizing: border-box;
  }

}