
.divImg-pcEmpresas-pc-notebook {
    margin-top: 425px;
}

.h2ImgEmpresas-pc-notebook {
    font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin-top: -60px;
    margin-bottom: 40px;
    margin-left: 4%;
    color: #3369FF;
}


.divImg-pc {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; 
    margin-left: 2%;
}

.EmpresasgridImage-pc {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%); 
}

.EmpresasgridImage-pc:hover {
    filter: none;
}


@media (min-width: 1200px) and (max-width: 1600px) {
    .divImg-pcEmpresas-pc-notebook {
        margin-top: 350px;
    }

    .h2ImgEmpresas-pc-notebook {
        font-family: "inter";
        font-weight: 800;
        font-size: 16px;
        margin-top: -60px;
        margin-bottom: 40px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImg-pc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }

    .EmpresasgridImage-pc {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%); /* Convertir imágenes en escala de grises */
    }

    .EmpresasgridImage-pc:hover {
        filter: none;
    }
}


@media (min-width: 601px) and (max-width: 960px) {

    .divImg-pcEmpresas-pc {
        margin-top: 250px;
    }
}


/* Media query para pantallas de menos de 600px */
@media only screen and (max-width: 600px) {
    .divImg-pc {
        display: grid;
        grid-template-columns: repeat(4, 1fr)!important;
        grid-template-rows: repeat(3, auto);
        gap: 10px;
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-pc {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 135px;
        margin-bottom: -191px;
        margin-left: 4%;
        color: #3369FF;

    }

    .divImg-pcEmpresas-pc {
        margin-top: 320px;
    }

    .EmpresasgridImage-pc {
        height: 120%;
    }

}


@media only screen and (min-width: 426px) and (max-width: 500px) {

    .divImg-pc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-pc {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 151px;
        margin-bottom: 17px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImg-pcEmpresas-pc {
        margin-top: 320px;
    }

    .EmpresasgridImage-pc {
        height: 120%;
    }


}

@media only screen and (min-width: 391px) and (max-width: 425px) {

    .divImg-pc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-pc {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 135px;
        margin-bottom: -191px;
        margin-left: 4%;
        color: #3369FF;
    }

    .divImg-pc {
        margin-top: 230px;
    }

    .EmpresasgridImage-pc {
        height: 120%;
    }


}

@media only screen and (min-width: 100px) and (max-width: 390px) {

    .divImg-pc {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
        margin-left: 2%;
    }
    

    .h2ImgEmpresas-pc {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px !important;
        margin-top: 135px;
        margin-bottom: -191px;
        margin-left: 4%;
        color: #3369FF;

    }

    .divImg-pc {
        margin-top: 210px;
    }

    .EmpresasgridImage-pc {
        height: 120%;
    }

}
