.modal{
    background-color:white;
    border-radius: 22px;
    z-index: 10;
    width: 80%;
}

.ReactModal__Overlay--after-open{ 
    background-color: rgba(104, 104, 104, 0.9)!important;
    z-index: 1!important;
    padding-left: 300px;
    padding-top: 150px;
}

.divModalHogar h3{
    color: #8D8B8E;
    font-family: inter;
    font-size: 12px;
    position: absolute;
    top: 75px;
}
.cardsHogar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f7fa;
    border-radius: 22px;
    box-shadow: 2px 3px 16px 7px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  div.cardHogar {
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    width: 30%;
    position: relative;
  }
  

  div.cardHogar:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 0.3px;
    height: 100%;
    background-color: rgba(226, 226, 226, 1); /* Color de las barras verticales */
    display: flex;
  }
  

  
  .h3CardHogar{
    color: rgba(51, 105, 255, 1);
    font-weight: 800;
    line-height: 18.15px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-family: inter;
  }
  
  .pCardHogar {
    font-size: 12px;
    margin: 15px 0;
    color: rgba(141, 139, 142, 1);
    font-family: inter;
    font-weight: 400;
    inline-size: 100%;
  }


  .pCardHogar__price {
    font-size: 1em;
    margin: 15px 0;
    color: rgba(51, 105, 255, 1);
    font-family: inter;
  }
  
  .buttonCardHogar {
    background-color: #0070f3;
    font-family: inter;
    color: white;
    width: 50.25%;
    margin-top: 20px;
    border: none;
    height: 39px;
    border-radius: 6px;
    padding: 12px, 18px, 12px, 18px;
    cursor: pointer;
  }
  
  .cardHogar button:hover {
    background-color: #005bb5;
   
  }
  


  .divModalHogar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.123);
    padding: 140px 0px 30px 45px;
    border-radius: 20px;
    max-width: 1300px;
    position: relative;
    margin: 60px 30px;
    z-index: 9;
    height: 660px;

  }
  
  .divModalHogar h2 {
    color: #0070f3;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: inter;
    position: absolute;
    top: 50px;
  }
  
  .divModalHogar p {
    font-family: inter;
    color: rgba(51, 105, 255, 1);
    margin-bottom: 2px;
    font-size: 12px;
    font-weight: 900;
  }

  .divModalHogar span {
    font-family: inter;
    color: rgba(58, 72, 89, 1);
    font-size: 12px;
    font-weight: 400;
  }
  
  .divModalHogar .xButton {
    position: absolute;
    top: 18px;
    left: -9px;
    background-color: #ff5f5f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .divModalHogar .plan-details {
    flex: 3;
  }
  
  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  
  .divModalHogar .inputs-section {
    font-family: inter;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 40px;
  }

 
  .modalInputs {
    margin-bottom: 105px;
  }

  
  .modalInputs form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .modalInputs input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .modalInputs button {
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 41px;
    font-size: 12px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .modalInputs button:hover {
    background-color: #005bb5;
  }
  
  .whatsapp-link {
    display: flex;
    align-items: center;
    color: #25d366;
    text-decoration: none;
    font-size: 18px;
    margin-top: -50px;
  }
  
  .whatsapp-link img {
    margin-right: 10px;
    width: 10%;
  }
  
  .divider {
    height: 100%;
    width: 1px;
    background-color: #ccc;
    margin: 0 20px;
  }
  

  @media 
  (min-width: 1200px) and (max-width: 1600px) {

    .modal{
      background-color:white;
      border-radius: 22px;
      z-index: 10;
      width: 100%;
  }
  
  .ReactModal__Overlay--after-open{ 
      background-color: rgba(104, 104, 104, 0.9)!important;
      padding: 15px 30px;
      z-index: 1!important;
      padding-top: 0px;
  }
  
  .divModalHogar h3{
      color: #8D8B8E;
      font-family: inter;
      font-size: 12px;
      position: absolute;
      top: 75px;
      margin-top: 10px;
  }
  .cardsHogar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background-color: #f2f7fa;
      border-radius: 22px;
      box-shadow: 2px 3px 16px 7px rgba(0, 0, 0, 0.1);
      width: 100%;
    }
    
    div.cardHogar {
      background-color: white;
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      width: 30%;
      position: relative;
    }
    
  
    div.cardHogar:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 0;
      right: -18px;
      width: 0.3px;
      height: 100%;
      background-color: rgba(226, 226, 226, 1); /* Color de las barras verticales */
      display: flex;
    }
    
  
    
    .h3CardHogar{
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      line-height: 18.15px;
      text-align: center;
      font-size: 16px;
      margin-bottom: 10px;
      font-family: inter;
    }
    
    .pCardHogar {
      font-size: 12px;
      margin: 15px 0;
      color: rgba(141, 139, 142, 1);
      font-family: inter;
      font-weight: 400;
      inline-size: 100%;
    }
  
  
    .pCardHogar__price {
      font-size: 1em;
      margin: 15px 0;
      color: rgba(51, 105, 255, 1);
      font-family: inter;
    }
    
    .buttonCardHogar {
      background-color: #0070f3;
      font-family: inter;
      color: white;
      width: 50.25%;
      margin-top: 20px;
      border: none;
      height: 39px;
      border-radius: 6px;
      padding: 12px, 18px, 12px, 18px;
      cursor: pointer;
    }
    
    .cardHogar button:hover {
      background-color: #005bb5;
     
    }
    
  
    .divModalHogar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(247, 247, 247, 0.123);
      padding: 140px 0px 30px 45px;
      border-radius: 20px;
      max-width: 1300px;
      position: relative;
      margin:70px 30px 20px;
      z-index: 9;
      height: 500px;
    
  
    }
    
    .divModalHogar h2 {
      color: #0070f3;
      margin-bottom: 10px;
      font-size: 24px;
      font-family: inter;
      position: absolute;
      top: 50px;
    }
    
    .divModalHogar p {
      font-family: inter;
      color: rgba(51, 105, 255, 1);
      margin-bottom: 2px;
      font-size: 12px;
      font-weight: 900;
    }
  
    .divModalHogar span {
      font-family: inter;
      color: rgba(58, 72, 89, 1);
      font-size: 12px;
      font-weight: 400;
    }
    
    .divModalHogar .xButton {
      position: absolute;
      top: 18px;
      left: -9px;
      background-color: #ff5f5f;
      color: #ffffff;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 18px;
      cursor: pointer;
    }
    
    .divModalHogar .plan-details {
      flex: 2.3;
    }
    
    .divModalHogar .plan-details p {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #ccc;
      padding: 5px 0;
    }
    
    .divModalHogar .inputs-section {
      font-family: inter;
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding-left: 40px;
    }
  
   
    .modalInputs {
      margin-bottom: 5px;
    }
  
    
    .modalInputs form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .modalInputs input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      margin-bottom: 10px;
    }

    
    .modalInputs button {
      background-color: #0070f3;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 12px 41px;
      font-size: 12px;
      cursor: pointer;
      margin-top: 20px;
    }
    
    .modalInputs button:hover {
      background-color: #005bb5;
    }
    
    .whatsapp-link {
        display: flex;
        align-items: center;
        color: #25d366;
        text-decoration: none;
        font-size: 16px;
        margin-top: -31px;
        margin-left: 34px;
    }
    
    .whatsapp-link img {
      margin-right: 10px;
      width: 8%;
    }
    
    .divider {
      height: 100%;
      width: 1px;
      background-color: #ccc;
      margin: 0 20px;
    }

  }


  @media 
  (min-width: 601px) and (max-width: 900px) {

    .modal{
      background-color:white;
      border-radius: 22px;
      z-index: 10;
      width: 100%;
  }

  .divModalHogar {
    display: grid;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.123);
    padding: 122px 0px 20px 40px;
    border-radius: 20px;
    max-width: 775px;
    position: relative;
    margin: 60px 35px;
    z-index: 9;

}


  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    width: 95%;
}


.divModalHogar .inputs-section {
  font-family: inter;
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(104, 104, 104, 0.9) !important;
  padding: 0px 20px 0px 20px;
  z-index: 1 !important;
  width: 100vw;
  padding-top: 150px;
}


.whatsapp-link {
  display: flex;
  align-items: center;
  color: #25d366;
  text-decoration: none;
  font-size: 16px;
  margin-top: 15px;
  -webkit-text-size-adjust: auto;
}

.whatsapp-link img {
margin-right: 10px;
width: 5%;
}

.modalInputs {
  margin-bottom: 80px;
}




.divModalHogar .xButton {
  position: absolute;
  top: 12px;
  left: -24px;
  background-color: #ff5f5f;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}

  }


  @media only screen and (max-width: 600px) {

      .modal{
      background-color:white;
      border-radius: 22px;
      z-index: 10;
      width: 100%;
  }

    .divModalHogar {
      display: grid;
      justify-content: space-around;
      align-items: center;
      background-color: rgba(247, 247, 247, 0.123);
      padding: 122px 0px 20px 40px;
      border-radius: 20px;
      max-width: 247px;
      position: relative;
      margin: 60px 35px;
      z-index: 9;
  }

  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    width: 95%;
}


.divModalHogar .inputs-section {
  font-family: inter;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(104, 104, 104, 0.9) !important;
  padding: 0px 20px 0px 20px;
  z-index: 1 !important;
  width: 100vw;
}


.whatsapp-link {
  display: flex;
  align-items: center;
  color: #25d366;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  margin: 0 auto 0 15px;
}


.whatsapp-link img {
margin-right: 10px;
width: 12%;
}

.modalInputs {
  margin-bottom: 80px;
}


div.cardHogar:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 225px!important;
  right: -45px;
  width: 300px;
  height: 0.1%;
  background-color: rgba(226, 226, 226, 1);
  display: grid;
}

.divModalHogar .xButton {
  position: absolute;
  top: 12px;
  left: -24px;
  background-color: #ff5f5f;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  cursor: pointer;
}


.divModalHogar .plan-details {
  flex: 1;
  width: 69vw;
}

  }



  @media only screen and (min-width: 421px) and (max-width: 450px) {


    .divModalHogar {
      display: grid;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(247, 247, 247, 0.123);
        padding: 120px 0px 20px 40px;
        border-radius: 20px;
        max-width: 247px;
        position: relative;
        margin: 60px 32px;
        z-index: 9;
  }

  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    width: 95%;
}


.divModalHogar .inputs-section {
  font-family: inter;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(104, 104, 104, 0.9) !important;
  padding: 0px 20px 0px 20px;
  z-index: 1 !important;
  width: 100vw;
}


.whatsapp-link {
  display: flex;
  align-items: center;
  color: #25d366;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  margin: 0 auto 0 15px;
}


  .whatsapp-link img {
    width: 12%;
  }

.modalInputs {
  margin-bottom: 80px;
}


    div.cardHogar:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 210px!important;
      right: -58px!important;
      width: 300px!important;
      height: 0.1%;
      background-color: rgba(226, 226, 226, 1);
      display: grid;
  }


  .divModalHogar .xButton {
    position: absolute;
    top: 10px;
    left: -22px;
    background-color: #ff5f5f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.modalInputs button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 41px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.divModalHogar .plan-details {
  flex: 1;
  width: 69vw;
}
  }



  @media only screen and (min-width: 361px) and (max-width: 420px) {


    .divModalHogar {
      display: grid;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(247, 247, 247, 0.123);
        padding: 120px 0px 20px 40px;
        border-radius: 20px;
        max-width: 247px;
        position: relative;
        margin: 60px 10px;
        z-index: 9;
  }

  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    width: 95%;
}


.divModalHogar .inputs-section {
  font-family: inter;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(104, 104, 104, 0.9) !important;
  padding: 0px 20px 0px 20px;
  z-index: 1 !important;
  width: 100vw;
}


  .whatsapp-link {
      display: flex;
      align-items: center;
      color: #25d366;
      text-decoration: none;
      font-size: 18px;
      margin-top: 20px;
      margin: 0 auto 0 15px;
  }

  .whatsapp-link img {
    margin-right: 5px;
    width: 8%;
  }

.modalInputs {
  margin-bottom: 80px;
}


    div.cardHogar:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 225px;
      right: -65px!important;
      width: 300px!important;
      height: 0.1%;
      background-color: rgba(226, 226, 226, 1);
      display: grid;
  }


  .divModalHogar .xButton {
    position: absolute;
    top: 10px;
    left: 0px;
    background-color: #ff5f5f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}

.modalInputs button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 41px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.divModalHogar .plan-details {
  flex: 1;
  width: 69vw;
}
  }


  @media only screen and (min-width: 100px) and (max-width: 360px) {


    .divModalHogar {
      display: grid;
        justify-content: space-around;
        align-items: center;
        background-color: rgba(247, 247, 247, 0.123);
        padding: 120px 0px 20px 40px;
        border-radius: 20px;
        max-width: 247px;
        position: relative;
        margin: 60px -5px;
        z-index: 9;
        height: 680px;
  }

  .divModalHogar .plan-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    width: 95%;
}


.divModalHogar .inputs-section {
  font-family: inter;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
}

.ReactModal__Overlay--after-open {
  background-color: rgba(104, 104, 104, 0.9) !important;
  padding: 0px 20px 0px 20px;
  z-index: 1 !important;
  width: 100vw;
}


.whatsapp-link {
  display: flex;
  align-items: center;
  color: #25d366;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  margin: 0 auto 0 15px;
}

  .whatsapp-link img {
    width: 10%;
  }

.modalInputs {
  margin-bottom: 80px;
}


    div.cardHogar:not(:last-child)::after {
      content: '';
      position: absolute;
      top: 239px!important;
      right: -55px!important;
      width: 265px;
      height: 0.1%;
      background-color: rgba(226, 226, 226, 1);
      display: grid;
  }


  .divModalHogar .xButton {
    position: absolute;
    top: 12px;
    left: 15px;
    background-color: #ff5f5f;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 18px;
    cursor: pointer;
}

.modalInputs button {
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 41px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}

.divModalHogar .plan-details {
  flex: 1;
  width: 69vw;
}
  }