.h1TituloHogar{
    font-weight: 700;
    font-size: 20px;
    line-height: 17.42;
    font-family: inter;
    color: #3369FF;
    margin-left: 50px;
    margin-bottom: -226px;
}

.divPadreHogar{
    margin-top: 10%;
    margin-bottom: 15%;
}

.cardsHogar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 92vw;
    background: white;
}
.cardHogar {
    border: 0px solid #ccc;
    padding: 20px;
    width: 200px;
    text-align: center;
}
  

.cardHogar h3 {
    margin-top: 0;
}
.imgHogar {
    margin-left: 4%;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    cursor: pointer;
}

.imgHogar:focus {
    filter: grayscale(0%);
}

.imgHogar:hover {
    filter: grayscale(0%);
}

.imgHogar:focus:hover {
    filter: grayscale(0%);
    outline: none;
}
  
.imgHogar:active {
    filter: grayscale();
}

.imagesHogar img {
    cursor: pointer;
    width: 250px;

}

