.ContenedorPadreCard > div {
    width: 280px!important;
}

.slick-track {
width: 5056px;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.slick-slider{
    width: 1180px!important;

}


.slick-next{
    display: none!important;
}

.slick-list {
    margin: 0px 10px 0px 0px;
    height: 250px;
    margin: 0px ;
    left: 40px;
    margin-top: -50px;
}

.slick-list > div{
    margin: 0px 20px 1px 10px;
}

.slick-dots li.slick-active button:before {
    opacity: 1.75;
    color: #3369FF!important;
}


.slick-dots {
    left: 41px;
    top: 222px;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #3369FF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media only screen and (max-width: 600px) {
   
    .ContenedorPadreCard > div {
        width: 38vw !important;
        margin-left: 10px;
    }
    
    .slick-track {
    width: 5056px!important;
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
    
    .slick-slider{
        width: 97%!important;
    
    }
    
    
    .slick-next{
        display: none!important;
    }
    
    .slick-list {
        margin: 0px 10px 0px 0px;
        height: 250px;
        margin: 12px;
        left: 0px;
        margin-top: -50px;
    }
    
    .slick-list > div{
        margin: 0px 20px 1px 10px;
    }
    
    .slick-dots li.slick-active button:before {
        opacity: 1.75;
        color: #3369FF!important;
    }
    
    
    .slick-dots {
        left: 6px;
        top: 200px;

    }
    
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 8px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: #3369FF;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    
}