.header {
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
      padding: 10px;
      color: rgb(255, 255, 255);
      position: relative;
      height: 100vh;
}


.header-content {
  position: absolute;
  top: 110px;
  left: 50px;
}

.header h1 {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: inter;
  inline-size: 45.4rem;
  line-height: 42.49px;
}

.header h2 {
  font-size: 45px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 400;
  padding: 10px;
}

.header h3 {
  font-size: 45px;
  font-family: inter;
  font-weight: 400;
}

.header-select {
  padding: 0px;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  margin-top: 60px;
  width: 25vw;
  border-radius: 12px;
  cursor: pointer;
  color: #8D8B8E;
  position: relative;
}

.css-26l3qy-menu { 
  max-height: 60px; /* Limitar la altura máxima del menú */
  overflow-y: auto; /* Activar el scroll */
}

.header-select select {
  width: 100%;
  max-height: 150px; /* Limita la altura máxima del desplegable */
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  padding: 12px;
}


.header-select select:focus {
  color: #8D8B8E;
}

.css-hlgwow {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  padding: 18px 8px!important;
  box-sizing: border-box;
  border-radius: 12px!important;
}

.background-image-tablet { 
  display: none;
}


/* .css-t3ipsp-control:hover {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: #2684FF;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 1px #2684FF;
  box-sizing: border-box;
}


.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 12px!important;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
} */




@media (min-width: 1401px) and (max-width: 1600px) {
  .header {
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 10px;
    color: rgb(255, 255, 255);
    position: relative;
    height: 100vh!important;
  }

  .header-content {
    position: absolute;
    top: 110px;
    left: 50px;
  }

  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }

  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }

  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 0px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;
    position: relative;
  }

  .css-26l3qy-menu { 
    max-height: 60px; /* Limitar la altura máxima del menú */
    overflow-y: auto; /* Activar el scroll */
}

  .header-select select {
    width: 100%;
    max-height: 150px; /* Limita la altura máxima del desplegable */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }


  .header-select select:focus {
    color: #8D8B8E;
  }


  .css-hlgwow {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 12px 8px!important;
    box-sizing: border-box;
    border-radius: 12px!important;
  }

}




@media (min-width: 1200px) and (max-width: 1400px) {
  .header {
    background-size: contain;
        background-position: top;
        padding: 10px;
        color: rgb(255, 255, 255);
        position: relative;
        background-repeat: no-repeat;
        height: 100vh;
  }
  

  .header-content {
    position: absolute;
    top: 90px;
    left: 50px;
  }

  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }

  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }

  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 0px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;
    position: relative;
  }

  .css-26l3qy-menu { 
    max-height: 60px; /* Limitar la altura máxima del menú */
    overflow-y: auto; /* Activar el scroll */
}

  .header-select select {
    width: 100%;
    max-height: 150px; /* Limita la altura máxima del desplegable */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }


  .header-select select:focus {
    color: #8D8B8E;
  }


  .css-hlgwow {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 12px 8px!important;
    box-sizing: border-box;
    border-radius: 12px!important;
  }

}


@media (min-width: 601px) and (max-width: 900px) {

  .header {
    height: 100vh;
  }
  
  .background-image-tablet img{
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: relative;
  }

  .header-content {
    position: absolute;
    top: 25px;
    left: 50px;
  }
  
  .header h1 {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 17.4rem;
    line-height: 31.49px;
}
  
  
  .header h2 {
    font-size: 22px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }
  
  .header h3 {
    font-size: 18px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 0px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;
    position: relative;
  }

  .css-26l3qy-menu { 
    max-height: 60px; /* Limitar la altura máxima del menú */
    overflow-y: auto; /* Activar el scroll */
}

  .header-select select {
    width: 100%;
    max-height: 150px; /* Limita la altura máxima del desplegable */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }


  .header-select select:focus {
    color: #8D8B8E;
  }


  .css-hlgwow {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 12px 8px!important;
    box-sizing: border-box;
    border-radius: 12px!important;
  }

}


  @media only screen and (max-width: 600px) {
    .header{
    background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
    background-size: cover;
    background-position: right;
    padding: 20px;
    color: white;
    position: relative;
    height: 90vh!important;
    margin-top: -20px;
    background-repeat: no-repeat;
    }
    
    .header-content {
      position: absolute;
      top: 90px;
      left: 30px;
    }
    
    .header h1 {
      font-size: 20px;
        font-weight: 900;
        margin-bottom: 0px;
        font-family: inter;
        inline-size: 16.4rem;
        line-height: 30.49px;
    }
    
    .header h2 {
      font-size: 20px;
      margin-left: -10px;
      font-family: inter;
      background-color: rgba(51, 255, 204, 0.5);
      inline-size: fit-content;
      font-weight: 400;
      padding: 10px;
    }
    
    .header h3 {
      font-size: 20px;
      font-family: inter;
      font-weight: 400;
    }
  
    .header-select {
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 500;
        margin-top: 41px;
        width: 55vw;
        border-radius: 12px;
        cursor: pointer;
        color: #8D8B8E;
  
    }

    .header-select select:focus{
      color: #8D8B8E;
    }
  
    .css-hlgwow {
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: grid;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-overflow-scrolling: touch;
      position: relative;
      overflow: hidden;
      padding: 12px 8px!important;
      box-sizing: border-box;
      border-radius: 12px!important;
    }
 
  }


  @media only screen and (min-width: 421px) and (max-width: 600px) {
    
    .header{
      background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
      background-size: cover;
      background-position: right;
      padding: 20px;
      color: white;
      position: relative;
      height: 90vh!important;
      margin-top: -20px;
      background-repeat: no-repeat;
      }
    
    .card-father-mobile {
      position: relative;
      border: 1px solid rgba(51, 105, 255, 1);
      border-radius: 10px;
      padding: 16px;
      margin: 20px 0;
      display: flex;
      align-items: center;
      background-color: white;
      flex-direction: row;
      margin: 25px 30px;
    }
    
    /* Imagen dentro de la card */
    .card-icon-mobile {
      width: 20vw;
      position: relative;
      top: -17px;
      right: 10px;
    }
    
    /* Contenido dentro de la card */
    .card-content-mobile {
      flex: 1;
    }
    
    .card-title-mobile {
      font-size: 14px;
          margin: 0;
          color: rgba(51, 105, 255, 1);
          position: absolute;
          left: 1.6rem;
          bottom: 17px;
          font-family: inter;
      }
  
    
    
    .card-text-mobile {
      font-size: 12px;
      color: rgba(141, 139, 142, 1);
      font-family: inter;
      font-weight: 400;
    }
  
    .card__title__mobile__obj {
      font-size: 14px;
      margin: 0;
      color: rgba(51, 105, 255, 1);
      position: absolute;
      left: 22px!important;
      bottom: 17px;
      font-family: inter;
    
    }
    
    /* Sombra de la card que sobresale por debajo y a la derecha */
    .card-shadow-mobile {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 100%;
      height: 100%;
      border: 1px solid rgba(51, 105, 255, 1);
      border-radius: 10px;
      z-index: -1;
    }
    
  }
  
    @media only screen and (min-width: 361px) and (max-width: 420px) {

      .header{
        background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
        background-size: cover;
        background-position: right;
        padding: 20px;
        color: white;
        position: relative;
        height: 90vh!important;
        margin-top: -20px;
        background-repeat: no-repeat;
        }
     
     
      .card-father-mobile {
        position: relative;
        border: 1px solid rgba(51, 105, 255, 1);
        border-radius: 10px;
        padding: 16px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        background-color: white;
        flex-direction: row;
        margin: 25px 30px;
      }
      
      /* Imagen dentro de la card */
      .card-icon-mobile {
        width: 20vw;
        position: relative;
        top: -17px;
        right: 10px;
      }
      
      /* Contenido dentro de la card */
      .card-content-mobile {
        flex: 1;
      }
      
      .card-title-mobile {
        font-size: 14px;
            margin: 0;
            color: rgba(51, 105, 255, 1);
            position: absolute;
            left: 1.6rem;
            bottom: 17px;
            font-family: inter;
        }
    
      
      
      .card-text-mobile {
        font-size: 12px;
        color: rgba(141, 139, 142, 1);
        font-family: inter;
        font-weight: 400;
      }
    
      .card__title__mobile__obj {
        font-size: 14px;
        margin: 0;
        color: rgba(51, 105, 255, 1);
        position: absolute;
        left: 22px!important;
        bottom: 17px;
        font-family: inter;
      
      }
      
      /* Sombra de la card que sobresale por debajo y a la derecha */
      .card-shadow-mobile {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(51, 105, 255, 1);
        border-radius: 10px;
        z-index: -1;
      }
    }
      
     
    @media only screen and (min-width: 0px) and (max-width: 360px) {

      .header{
        background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
        background-size: cover;
        background-position: right;
        padding: 20px;
        color: white;
        position: relative;
        height: 90vh!important;
        margin-top: -20px;
        background-repeat: no-repeat;
        }
     
     
      .card-father-mobile {
        position: relative;
        border: 1px solid rgba(51, 105, 255, 1);
        border-radius: 10px;
        padding: 16px;
        margin: 20px 0;
        display: flex;
        align-items: center;
        background-color: white;
        flex-direction: row;
        margin: 25px 30px;
      }
      
      /* Imagen dentro de la card */
      .card-icon-mobile {
        width: 20vw;
        position: relative;
        top: -17px;
        right: 10px;
      }
      
      .header-select {
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 500;
        margin-top: 41px;
        width: 60vw;
        border-radius: 12px;
        cursor: pointer;
        color: #8D8B8E;
  
    }


    .css-hlgwow {
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: grid;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-overflow-scrolling: touch;
      position: relative;
      overflow: hidden;
      padding: 10px 8px!important;
      box-sizing: border-box;
      border-radius: 12px!important;
    }
    
      .header-content {
        position: absolute;
        top: 45px;
        left: 30px;
      }


      /* Contenido dentro de la card */
      .card-content-mobile {
        flex: 1;
      }
      
      .card-title-mobile {
        font-size: 14px;
            margin: 0;
            color: rgba(51, 105, 255, 1);
            position: absolute;
            left: 1.6rem;
            bottom: 17px;
            font-family: inter;
        }
    
      
      
      .card-text-mobile {
        font-size: 12px;
        color: rgba(141, 139, 142, 1);
        font-family: inter;
        font-weight: 400;
      }
    
      .card__title__mobile__obj {
        font-size: 14px;
        margin: 0;
        color: rgba(51, 105, 255, 1);
        position: absolute;
        left: 22px!important;
        bottom: 17px;
        font-family: inter;
      
      }
      
      /* Sombra de la card que sobresale por debajo y a la derecha */
      .card-shadow-mobile {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100%;
        height: 100%;
        border: 1px solid rgba(51, 105, 255, 1);
        border-radius: 10px;
        z-index: -1;
      }
    }
      