.header {
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  position: relative;
}

.header-content {
  position: absolute;
  top: 110px;
  left: 50px;
}

.header h1 {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: inter;
  inline-size: 45.4rem;
  line-height: 42.49px;
}

.header h2 {
  font-size: 35px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 400;
  padding: 10px;
}

.header h3 {
  font-size: 35px;
  font-family: inter;
  font-weight: 400;
}

.header-select {
  padding: 0px;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  margin-top: 60px;
  width: 20vw;
  border-radius: 12px;
  cursor: pointer;
  color: #8D8B8E;
  position: relative;
}

.css-26l3qy-menu { 
  max-height: 60px; /* Limitar la altura máxima del menú */
  overflow-y: auto; /* Activar el scroll */
}

.header-select select {
  width: 100%;
  max-height: 150px; /* Limita la altura máxima del desplegable */
  overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  padding: 12px;
}


.header-select select:focus {
  color: #8D8B8E;
}

.css-hlgwow {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: grid;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-overflow-scrolling: touch;
  position: relative;
  overflow: hidden;
  padding: 18px 8px!important;
  box-sizing: border-box;
  border-radius: 12px!important;
}


/* .css-t3ipsp-control:hover {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: #2684FF;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 0 0 1px #2684FF;
  box-sizing: border-box;
}


.css-13cymwt-control {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 12px!important;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
} */



@media (min-width: 1200px) and (max-width: 1600px) {
  .header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: relative;
  }

  .header-content {
    position: absolute;
    top: 110px;
    left: 50px;
  }

  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }

  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }

  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 0px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;
    position: relative;
  }

  .css-26l3qy-menu { 
    max-height: 60px; /* Limitar la altura máxima del menú */
    overflow-y: auto; /* Activar el scroll */
}

  .header-select select {
    width: 100%;
    max-height: 150px; /* Limita la altura máxima del desplegable */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }


  .header-select select:focus {
    color: #8D8B8E;
  }


  .css-hlgwow {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: grid;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    position: relative;
    overflow: hidden;
    padding: 12px 8px!important;
    box-sizing: border-box;
    border-radius: 12px!important;
  }

}


@media (min-width: 601px) and (max-width: 900px) {

  .header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  .header-content {
    position: absolute;
    top: 110px;
    left: 50px;
  }
  
  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }
  
  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }
  
  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 14px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border: 1.5px solid white;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;

  }

  .header-select select:focus{
    color: #8D8B8E;
  }

}


  @media only screen and (max-width: 600px) {
    .header{
    background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
    background-size: cover;
    background-position: right;
    padding: 20px;
    color: white;
    position: relative;
    height: 80vh!important;
    margin-top: -20px;
    background-repeat: no-repeat;
    }
    
    .header-content {
      position: absolute;
      top: 110px;
      left: 50px;
    }
    
    .header h1 {
      font-size: 20px;
        font-weight: 900;
        margin-bottom: 0px;
        font-family: inter;
        inline-size: 16.4rem;
        line-height: 30.49px;
    }
    
    .header h2 {
      font-size: 20px;
      margin-left: -10px;
      font-family: inter;
      background-color: rgba(51, 255, 204, 0.5);
      inline-size: fit-content;
      font-weight: 400;
      padding: 10px;
    }
    
    .header h3 {
      font-size: 20px;
      font-family: inter;
      font-weight: 400;
    }
  
    .header-select {
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 500;
        margin-top: 41px;
        width: 55vw;
        border-radius: 12px;
        cursor: pointer;
        color: #8D8B8E;
  
    }

    .header-select select:focus{
      color: #8D8B8E;
    }
  
    .css-hlgwow {
      -webkit-align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: grid;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-box-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-overflow-scrolling: touch;
      position: relative;
      overflow: hidden;
      padding: 12px 8px!important;
      box-sizing: border-box;
      border-radius: 12px!important;
    }
 
  }