.header {
  background-size: cover;
  background-position: center;
  padding: 20px;
  color: rgb(255, 255, 255);
  position: relative;
}

.header-content {
  position: absolute;
  top: 110px;
  left: 70px;
}

.header h1 {
  font-size: 45px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: inter;
  inline-size: 45.4rem;
  line-height: 42.49px;
}

.header h2 {
  font-size: 45px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 400;
  padding: 10px;
}

.header h3 {
  font-size: 45px;
  font-family: inter;
  font-weight: 400;
}

.header-select {
  padding: 14px;
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  margin-top: 60px;
  width: 25vw;
  border: 1.5px solid white;
  border-radius: 12px;
  cursor: pointer;
  color: #8D8B8E;

}

.header-select::after {
  content: '▼'; /* Símbolo de flecha */
  font-size: 12px;
  color: #333; /* Color del símbolo */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.header-select select:focus{
  color: #8D8B8E;
}



@media (min-width: 1200px) and (max-width: 1600px) {
  .header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: relative;
  }

  .header-content {
    position: absolute;
    top: 110px;
    left: 50px;
  }

  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }

  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }

  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 14px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border: 1.5px solid white;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;
    position: relative;
  }

  .header-select select {
    width: 100%;
    max-height: 15px; /* Limita la altura máxima del desplegable */
    overflow-y: auto; /* Habilita el scroll vertical si es necesario */
  }

  .header-select::after {
    content: '▼'; /* Símbolo de flecha */
    font-size: 12px;
    color: #333; /* Color del símbolo */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .header-select select:focus {
    color: #8D8B8E;
  }
}


@media (min-width: 601px) and (max-width: 900px) {

  .header {
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    position: relative;
  }
  
  .header-content {
    position: absolute;
    top: 110px;
    left: 50px;
  }
  
  .header h1 {
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 5px;
    font-family: inter;
    inline-size: 45.4rem;
    line-height: 42.49px;
  }
  
  .header h2 {
    font-size: 35px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 400;
    padding: 10px;
  }
  
  .header h3 {
    font-size: 35px;
    font-family: inter;
    font-weight: 400;
  }

  .header-select {
    padding: 14px;
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 500;
    margin-top: 60px;
    width: 28vw;
    border: 1.5px solid white;
    border-radius: 12px;
    cursor: pointer;
    color: #8D8B8E;

  }

  .header-select::after {
    content: '▼'; /* Símbolo de flecha */
    font-size: 12px;
    color: #333; /* Color del símbolo */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }

  .header-select select:focus{
    color: #8D8B8E;
  }

}


  @media only screen and (max-width: 600px) {
    .header{
    background-image: url(src/assets/image/Header-inicio-celular.webp)!important;
    background-size: cover;
    background-position: right;
    padding: 20px;
    color: white;
    position: relative;
    height: 80vh!important;
    margin-top: -20px;
    background-repeat: no-repeat;
    }
    
    .header-content {
      position: absolute;
      top: 110px;
      left: 50px;
    }
    
    .header h1 {
      font-size: 20px;
        font-weight: 900;
        margin-bottom: 0px;
        font-family: inter;
        inline-size: 16.4rem;
        line-height: 30.49px;
    }
    
    .header h2 {
      font-size: 20px;
      margin-left: -10px;
      font-family: inter;
      background-color: rgba(51, 255, 204, 0.5);
      inline-size: fit-content;
      font-weight: 400;
      padding: 10px;
    }
    
    .header h3 {
      font-size: 20px;
      font-family: inter;
      font-weight: 400;
    }
  
    .header-select {
      padding: 10px;
        font-size: 12px;
        font-family: 'Inter';
        font-weight: 500;
        margin-top: 41px;
        width: 55vw;
        border: 1.5px solid white;
        border-radius: 12px;
        cursor: pointer;
        color: #8D8B8E;
  
    }
  
    .header-select::after {
      content: '▼'; /* Símbolo de flecha */
      font-size: 12px;
      color: #333; /* Color del símbolo */
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  
    .header-select select:focus{
      color: #8D8B8E;
    }
  
 
  }