
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .navbar-logo img {
        height: 45px;
        object-fit: contain;
        margin-top: 6px;
        vertical-align: -webkit-baseline-middle;
        margin-left: 30px;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
    z-index: 100;
    gap: 15px;
  }
  
  .navbar-links a, .dropdown .dropbtn {
    margin: 0px 10px;
    text-decoration: none;
    color: #8D8B8E;
    font-weight: 500;
    font-size: 14px;
    font-family: inter;
    border: 0px;
    background-color: rgba(255, 255, 255, 0);
    display: inline-block;
    /* transition: transform 0.1s ease, font-weight 0.1s ease; */
    white-space: nowrap;
    min-width: 50px; /* Ajusta según sea necesario */
    overflow: hidden;
    content: '';
    z-index: 100;
  }
  
  .dropdown .dropbtn:hover {
    font-weight: 800;
    transform: scale(1.05);
    text-decoration: underline ;
    cursor: pointer;
  }

  a:hover{
    font-weight: 800;
    text-decoration: underline;
    transform: scale(1.05);
    width: auto;
  }
  
  .fa-chevron-down:before {
    content: "\f078";
    margin: 0px 10px;
}

.fa-chevron-up:before {
  content: "\f078";
  margin: 0px 10px;
}


  /* .dropdown {
    position: relative;
  } */
/*   
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 10px 20px;
    display: block;
    white-space: nowrap;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */
  .navbar-social{
    display: flex;
  }

  .navbar-social a {
    margin: 0px 8px;
    width: 25px;
  }
  
  .hamburger {
    display: none;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
  }
  

  .navbar-links a.active {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 2px;
    z-index: 9999;
}

.img__1 {
  display: flex;
  margin: 0px 0px 0px -30px;
}

.img__2 {
  display: flex;
    margin: 0px 0px 0px -65px;
}

.fa-solid{
  font-size: 10px;
  color: #8D8B8E!important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 365px;
  padding: 5px 0px 5px 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

/* Estilos para cada columna del dropdown */
.dropdown-column {
  width: 45%; /* Ajusta el ancho de las columnas según sea necesario */
}

/* Estilos del separador entre las columnas */
.dropdown-separator {
  width: 1px;
  background-color: #e0e0e0;
  margin: 5px 10px 5px;
}

/* Mostrar dropdown cuando se hace hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content a {
  padding: 10px 0;
  display: block;
  white-space: nowrap;
  text-decoration: none;
  color: #8D8B8E;
}

/* Estilo para hover sobre los enlaces del dropdown */
.dropdown-content a:hover {
  font-weight: bold;
  text-decoration: underline;
}

/* Estilo para el botón del dropdown */
.dropbtn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Estilo para el ícono de flecha en el botón */
.dropbtn i {
  margin-left: 5px;
}



  @media (max-width: 1024px) {

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
      padding: 10px 20px;
      z-index: 1;
    }
    
    .navbar-logo img {
      height: 38px;
        object-fit: contain;
        margin-top: 6px;
        vertical-align: -webkit-baseline-middle;
    }
    
    .navbar-links {
      display: flex;
      align-items: center;
    }
    
    .navbar-links a, .dropdown .dropbtn {
      margin: 0px 15px;
      text-decoration: none;
      color: #8D8B8E;
      font-weight: 500;
      font-size: 12px;
      font-family: inter;
      border: 0px;
      background-color: white;
      display: inline-block;
      transition: transform 0.1s ease, font-weight 0.1s ease;
      white-space: nowrap;
      min-width: 20px;
      overflow: hidden;
      content: '';
  }
    
  .fa-solid{
    font-size: 10px;
    color: #8D8B8E!important;
  }  

    .dropdown .dropbtn:hover {
      font-weight: 800;
      transform: scale(1.05);
      text-decoration: underline ;
      cursor: pointer;
    }
  
    a:hover{
      font-weight: 800;
      text-decoration: underline;
      transform: scale(1.05);
      width: auto;
    }
    
    .fa-chevron-down:before {
      content: "\f078";
      margin: 0px 10px;
  }
  
  .fa-chevron-up:before {
    content: "\f078";
    margin: 0px 10px;
  }
  
  
    .dropdown {
      position: relative;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      z-index: 1;
    }
    
    .dropdown-content a {
      padding: 10px 20px;
      display: block;
      white-space: nowrap;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .navbar-social{
      display: flex;
    }
  
    .navbar-social a {
      margin: 0px 8px;
      width: 25px;
    }
    
    .hamburger {
      display: none;
      font-size: 24px;
      border: none;
      background: none;
      cursor: pointer;
    }
    

  }



  @media (max-width: 900px) {

    .navbar {
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      background-color: rgba(51, 105, 255, 1);
      padding: 10px 20px;
      z-index: 1;
    }

    .navbar-links {
      display: none;
      flex-direction: column;
      color: #ffffff;
    }
  
    .navbar-links.open {
        display: flex;
        position: absolute;
        background-color: white;
        padding: 15px;
        align-items: center;
        right: 20px;
        top: 55px;
        z-index: 5;
    }
  
    .navbar-links a, .dropdown .dropbtn {
      margin: 10px 0;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  
    .dropdown-content {
      position: static;
      box-shadow: none;
    }
  
    .hamburger {
      display: block;
      margin-top: 20px;
    }
  
    .navbar-social {
      display: none;
    }

    .dropdown .dropbtn:hover {
      font-weight: 800;
      transform: scale(1.05);
      text-decoration: none;
      cursor: pointer;
    }

    a:hover{
      font-weight: 800;
      transform: scale(1.05);
      text-decoration: none;
      width: auto;
    }

    .fa-bars:before, .fa-navicon:before {
      content: "\f0c9";
      color: #ffffff;
  }

  .fa-times::before {
    color: #ffffff;
  }

  .logo-desktop {
    display: none;
  }

  .navbar-logo img {
    object-fit: contain;
    vertical-align: -webkit-baseline-middle;
    margin: 18px 10px;
  }

  .logo-mobile {
    height: 38px;
    object-fit: contain;
    /* margin-top: 18px; */
    vertical-align: -webkit-baseline-middle;
    margin: 18px 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1400;
    width: 230px;
    padding: 0px 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: -115px;
  }
  
  /* Estilos para cada columna del dropdown */
  .dropdown-column {
    width: 45%; /* Ajusta el ancho de las columnas según sea necesario */
  }
  
  /* Estilos del separador entre las columnas */
  .dropdown-separator {
    width: 1px;
    background-color: #e0e0e0;
    margin: 5px 10px 20px;
  }
  
  /* Mostrar dropdown cuando se hace hover */
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  .dropdown-content a {
    padding: 10px 0;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #8D8B8E;
  }
  
  /* Estilo para hover sobre los enlaces del dropdown */
  .dropdown-content a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Estilo para el botón del dropdown */
  .dropbtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo para el ícono de flecha en el botón */
  .dropbtn i {
    margin-left: 5px;
  }

  .dropdown{
    display: none;
  }

    
  }


  @media only screen and (max-width: 600px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items:flex-start;
      background-color: rgba(51, 105, 255, 1);
      padding: 10px 20px;
      z-index: 1;
    }

    .navbar-links {
      display: none;
      flex-direction: column;
      color: #ffffff;
    }
  
    .navbar-links.open {
        display: flex;
        position: absolute;
        background-color: white;
        padding: 15px;
        align-items: center;
        right: 20px;
        top: 55px;
        z-index: 5;
    }
  
    .navbar-links a, .dropdown .dropbtn {
      margin: 10px 0;
      padding: 10px;
      display: flex;
      align-items: center;
    }
  
    .dropdown-content {
      position: static;
      box-shadow: none;
    }
  
    .hamburger {
      display: block;
      margin-top: 20px;
    }
  
    .navbar-social {
      display: none;
    }

    .dropdown .dropbtn:hover {
      font-weight: 800;
      transform: scale(1.05);
      text-decoration: none;
      cursor: pointer;
    }

    a:hover{
      font-weight: 800;
      transform: scale(1.05);
      text-decoration: none;
      width: auto;
    }

    .fa-bars:before, .fa-navicon:before {
      content: "\f0c9";
      color: #ffffff;
  }

  .fa-times::before {
    color: #ffffff;
  }

  .logo-desktop {
    display: none;
  }

  .navbar-logo img {
    object-fit: contain;
    vertical-align: -webkit-baseline-middle;
    margin: 18px 10px;
  }

  .logo-mobile {
    height: 38px;
    object-fit: contain;
    /* margin-top: 18px; */
    vertical-align: -webkit-baseline-middle;
    margin: 18px 10px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1400;
    width: 230px;
    padding: 0px 0px 0px 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-left: -115px;
  }
  
  /* Estilos para cada columna del dropdown */
  .dropdown-column {
    width: 45%; /* Ajusta el ancho de las columnas según sea necesario */
  }
  
  /* Estilos del separador entre las columnas */
  .dropdown-separator {
    width: 1px;
    background-color: #e0e0e0;
    margin: 5px 10px 20px;
  }
  
  /* Mostrar dropdown cuando se hace hover */
  .dropdown:hover .dropdown-content {
    display: flex;
  }
  
  .dropdown-content a {
    padding: 10px 0;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    color: #8D8B8E;
  }
  
  /* Estilo para hover sobre los enlaces del dropdown */
  .dropdown-content a:hover {
    font-weight: bold;
    text-decoration: underline;
  }
  
  /* Estilo para el botón del dropdown */
  .dropbtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilo para el ícono de flecha en el botón */
  .dropbtn i {
    margin-left: 5px;
  }

  .dropdown{
    display: none;
  }
  }