.div-cotizaAhora {
    margin-top: 300px;
}
.vertical-dotted-separator {
  border-left: 2px dotted #007bff;
  height: 40px; /* Ajusta la altura según tus necesidades */
  margin: 0 10px;
  display: flex;
}

.moto-insurance-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-left: 4%;
    border-radius: 30px;
    width: 92%;
    border: 0px solid;
    box-shadow: 0 0 10px #8d8b8e40;
  }
  
  .moto-texto {
    color: #a0a0a0;
    font-family: Inter;
  }
  
   .moto-presio {
    color: #3369FF;
    font-weight: bold;
    font-family: Inter;
   
  }
  
  .moto-icon {
    width: 50px;
    height: 50px;
    
    background-size: cover;
  }
  
  .moto-button {
    background-color:  #0F2BA1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter;
    width: 255px;
  }
  
  .moto-button:hover {
    background-color: #0056b3;
  }

  @media 
(min-width: 600px) and (max-width: 1400px) {
  .div-cotizaAhora {
    margin-top: 180px;
    
}

.moto-insurance-container {
  box-shadow: 0 0 10px #8d8b8e40;
}

}