.imgBannerContratar {
    margin-top: 40px;
    position: absolute;
    z-index: 0;
    
}
.vidBanner{
    position: relative;
   top: 130px;
   left: 4%;
}

.h2Banner{
    position: relative;
    top: 130px;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    left: 4%;
    color: #31EEC3;
}
.spanBanner {

    font-weight: 300; 
}

@media 
(min-width: 600px) and (max-width: 1400px) {

    .h2Banner{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .vidBanner{
        top: 90px;
    margin-bottom: -100px;
    }
    .imgBannerContratar{
        margin-top: 90px;
    }
}