.CardInfoContainerCard__1{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 210px;
  padding: 20px;

}
.h2-cardInfo{
font-family: Inter;
font-weight: 800;
font-size: 25px;
margin-top: 50px;
margin-bottom: 20px;
margin-left: 4%;
color: #3369FF;
}


.CardInfoCards__1 {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #8d8b8e40;
    width: 142%;
    max-width: 260px;
    padding: 20px 45px;
    text-align: center;
    max-height: 260px;
}



.h3CardInfo{
    color: #8D8B8E;
    font-family: Inter;
    font-size: 12px;
    font-weight: 800;
}

.pCardInfo{
    color: #8D8B8E;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
}



.cards__1  {
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #3369FF;
    font: bold;
}

@media 
(min-width: 700px) and (max-width: 1400px) {
    .CardInfoContainerCard__1{
        gap: 40px;
        /* width: 94vw; */
        /* max-height: 202px; */
        margin: 0 auto; 
    }
    
    .CardInfoContainerCard__1 img{
        width: 58%;
        object-fit: none;
    }
    }


}

@media 
(min-width: 400px) and (max-width: 699px) {
    .CardInfoContainerCard__1{
        gap: 30px;
        width: 100%;
        margin-left: -4%;
      
    }
    .CardInfoContainerCard__1 img{
        height: 50%;
    }

    .CardInfoCards__1{
        width: 30%;
    }

    .pCardInfo{
        color: #8D8B8E;
        font-family: Inter;
        font-size: 70%;
    }
    
    .h3CardInfo{
    font-size: 90%;    
    }



    
.cards__1  {
    
    font-size: 10px;
 max-width: 150px;   
}

}


@media 
(min-width: 300px) and (max-width: 399px) {


    .h2-cardInfo{
        font-size: 14px;
    }

    .CardInfoContainerCard__1 {
        gap: 30px;
        width: 118%;
        margin-left: -12%;
    }
    .CardInfoContainerCard__1 img{
        height: 50%;
    }

    .CardInfoCards__1{
        width: 34%;
    }

    .pCardInfo{
        color: #8D8B8E;
        font-family: Inter;
        font-size: 70%;
    }
    
    .h3CardInfo{
    font-size: 90%;    
    }



    
.cards__1  {
    
    font-size: 10px;
 max-width: 150px;   
}

}

