.containerCard__1{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 150px;
  padding: 20px;

}
.h2-cardInfo{
font-family: Inter;
font-weight: 800;
font-size: 25px;
margin-top: 50px;
margin-bottom: 20px;
margin-left: 4%;
color: #3369FF;
}


.cards__1 {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #8d8b8e40;
    width: 100%;
    max-width: 275px;
    padding: 20px;
    text-align: center;
}

.h3CardInfo{
    color: #8D8B8E;
    font-family: Inter;
}

.pCardInfo{
    color: #8D8B8E;
    font-family: Inter;
}



.cards__1  {
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #3369FF;
    font: bold;
}

