.header-motos img{
  position: absolute;
  display: flex;
  overflow: hidden;
  z-index: -1;
 
}
.container-motos{
  position: relative;
  z-index: 1;
  top: 120px;
  left:4%
}


.h1-motos {
z-index: 1;
color: white;
font-size: 35px;
margin-left: -10px;
font-family: inter;
background-color: aquamarine;
inline-size: fit-content;
font-weight: 900;
padding: 10px;
top: 40px;
} 

.h2-motos{
  margin-top: 10px;
color: white;
font-size: 24px;
font-family: inter;
font-weight: 700;
}

.h3-motos{
  margin-top: 10px;
  color: white;
  font-size: 24px;
  font-family: inter;
  font-weight: 400;
}

@media 
(min-width: 1400px) and (max-width: 1600px) {
  .container-motos{
   
    top: 70px;
  }


}

/* ///////////////Notebook////////////*/

@media 
(min-width: 600px) and (max-width: 1400px) {

  .container-motos{
    
    top: 50px;
   
  }

.h1-motos{
  font-weight: 500;
  
}

.h2-motos{
  font-weight: 500;
  font-size: 16px;
}


 
.h3-motos{

  margin-bottom: -40px;
  font-size: 16px;
}


  
}




  