.coberturas-container {
  width: 100%;
  padding: 40px 20px;
}

.coberturas-container h2 { 
  color:#3369FF;
  text-align: left;
  margin-left: 35px;
  font-family: inter;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 700;
}

.cobertura-item {
  position: relative;
}

.cobertura-text h3 {
  color: #8D8B8E;
  font-size: 16px;
  font-family: inter;
  font-weight: 700;
}

.cobertura-text p {
  color: #8D8B8E;
  font-size: 14px;
  font-family: inter;
  font-weight: 400;
}

.img-grande {
  display: block;
}

.imagen-pequena {
  display: none;
}

@media (max-width: 600px) {

  .coberturash2-container-sm h2 {
        font-family: Inter;
        font-weight: 800;
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: 5%;
        color: #3369FF;
  }


  .coberturas-container {
    text-align: center;
    padding: 10px 15px 0px 15px;
    flex-wrap: wrap;
    display: flex;
    gap: 4px;
  }

  .cobertura-item-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    flex: 1 45%;
  }

  .img-grande {
    display: none;
  }

  .imagen-pequena {
    display: block;
    width: 60px;
    margin-bottom: 10px;
  }

  .cobertura-text-sm h3 {
    font-size: 12px;
    color: rgba(141, 139, 142, 1);
    margin: 8px 0;
    text-align: center;
  }

  .cobertura-text-sm p {
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }

  .atencion {
    font-size: 16px;
    font-weight: bold;
    color: #1a73e8;
    margin-top: 10px;
  }

  .coberturah3-item-sm h2 {
    font-size: 14px;
    font-family: inter;
    font-weight: bold;
    color: rgba(51, 105, 255, 1);
    margin-top: 10px;
    margin-left: 4%;
  }

  .coberturah3-item-sm h3 {
    margin-top: 10px;
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    line-height: 1.4;
    margin-left: 4%;
    font-weight: 800;
  } 

  .coberturah3-item-sm h4 {
    font-family: inter;
    font-size: 8px;
    color: rgba(141, 139, 142, 1);
    width: 100%;
    font-weight: 400;
  }
}
