


@media 
(min-width: 1200px) and (max-width: 1600px) {

    .buttonSaludHeader {
        display: flex;
        position: relative;
        top: 70px;
        padding: 6px 75px 6px 75px;
        border-radius: 6px;
        border: 0.2px transparent;
        background-color: #33FFCC;
      }
      
      .buttonSaludHeader a {
        font-size: 12px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
      }

  
}

@media (min-width: 601px) and (max-width: 900px)
{

   
}

@media only screen and (max-width: 600px){

  .header-salud img{
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: -1;
   margin-top: -300px!important;
  }


  .container-motos{
    top: 30px;
    width: 90%;
   
  }

  .container-motos{
    position: relative;
    z-index: 1;
    top: 50px!important;
    left:4%
  }

  .h1-motos {
  z-index: 1;
  color: white;
  font-size: 45px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 900!important;
  padding: 12px;
  top: 40px;
  } 
  
  .h2-motos{
  margin-top: 10px;
  color: white;
  font-family: inter;
  font-weight: 700!important;
  font-size: 12px!important;
  display: -webkit-box;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    width: 95%; 
  }
 
  
  .h3-motos{
    margin-top:10px;
    color: white;
    font-family: inter;
    font-weight: 400;
    font-size: 8px!important;
  }


.h1-motos{
  margin-left: 0.1%;
  font-weight: 500;
  font-size: 100%!important;
  padding: 4PX;
}

.h2-motos{
  font-weight: 500;
  font-size: 80%;
}


.h3-motos{
  font-size: 60%;
}

  .header-motos .imgPorDefectoMotos{
    display: none;
  }
  
  .header-motos .imgRemplazoMotos{
    display: none;
  }

  .header-motos .imgFotoCelular{
    display: block;
  }

  .buttonSaludHeader {
      display: flex;
        position: relative;
        top: 30px;
        padding: 8px 30px 8px 30px;
        border-radius: 8px;
        border: 0.2px transparent;
        background-color: #33FFCC;
    }

    .buttonSaludHeader a {
      font-size: 8px;
      font-family: 'Inter';
      text-decoration: none;
      color: #3369FF;
  }

}