/* RESETAMOS VALORES A NUESTRO GUSTO EN EL ROOT */

* {margin: 0; padding: 0;}
*, * ::before, *::after {box-sizing: border-box;}

body {min-height: 100dvh; overflow-x: hidden!important;}
input, button, textarea,select {font: inherit;}

p {text-wrap: pretty;}
h1,h2,h3,h4,h5,h6 {text-wrap: balance;}

img, video, svg {height: auto; max-width: 100%;}

@media (prefers-reduced-motion:redce) {
  *, *::before, *::after{
    animation: 0.01ms !important;
    animation-iteration-count: 1 !important; 
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none !important;
  }
}