.header-industria .imgPorDefectoMotos{
    display: block;
  }
  
  .header-industria .imgRemplazoMotos{
    display: none;
  }
  .header-industria .imgFotoCelular{
    display: none;
  }
  
  .header-industria img{
    position: absolute;
    display: flex;
    overflow: hidden;
    z-index: 0;
   
  }
  .container-industria{
    position: relative;
    z-index: 1;
    top: 120px;
    left:4%
  }
  
  
  .h1-industria {
  z-index: 1;
  color: white;
  font-size: 35px;
  margin-left: -10px;
  font-family: inter;
  background-color: rgba(51, 255, 204, 0.5);
  inline-size: fit-content;
  font-weight: 900;
  padding: 10px;
  top: 40px;
  } 
  
  .h2-industria{
  margin-top: 10px;
  color: white;
  font-family: inter;
  font-weight: 700;
  inline-size: 45%;
  }
  
  .h3-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 400;
  }
  
  .buttonIndustriaHeader {
    display: flex;
    position: relative;
    top: 60px;
    padding: 6px 75px 6px 75px;
    border-radius: 6px;
    border: 0.2px transparent;
    background-color: #33FFCC;
    margin-bottom: 400px;
  }
  
  .buttonIndustriaHeader a {
    font-size: 12px;
    font-family: 'Inter';
    text-decoration: none;
    color: #3369FF;
  }
  
  /* ////////notebook////////// */
  
  @media 
  (min-width: 1200px) and (max-width: 1600px) {
    .container-industria{
      top: 50px;
    }


    .h1-industria {
        z-index: 1;
        color: white;
        font-size: 22px;
        margin-left: -10px;
        font-family: inter;
        background-color: rgba(51, 255, 204, 0.5);
        inline-size: fit-content;
        font-weight: 900;
        padding: 10px;
        top: 40px;
        } 
        
        .h2-industria{
        margin-top: 10px;
        color: white;
        font-family: inter;
        font-weight: 700;
        inline-size: 45%;
        font-size: 20px;
        }
        
        .h3-industria{
          margin-top: 10px;
          color: white;
          font-family: inter;
          font-weight: 400;
          font-size: 14px;
        }
      
      .buttonIndustriaHeader {
        display: flex;
        position: relative;
        top: 40px;
        padding: 6px 75px 6px 75px;
        border-radius: 6px;
        border: 0.2px transparent;
        background-color: #33FFCC;
        margin-bottom: 0px;
      }
      
      .buttonIndustriaHeader a {
        font-size: 12px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
      }
      
    }


    @media (min-width: 601px) and (max-width: 900px) {

      .header-industria .imgPorDefectoMotos{
        display: none;
      }
      
      .header-industria .imgRemplazoMotos{
        display: flex;
        margin-bottom: -100px;
      }
      .header-industria .imgFotoCelular{
        display: none;
      }
      
      .container-industria{
        top: 50px;
        width: 95%;
      }
  
  
  
      .h1-industria {
          z-index: 1;
          color: white;
          font-size: 22px;
          margin-left: -10px;
          font-family: inter;
          background-color: rgba(51, 255, 204, 0.5);
          inline-size: fit-content;
          font-weight: 900;
          padding: 10px;
          top: 40px;
          } 
          
          .h2-industria{
          margin-top: 10px;
          color: white;
          font-family: inter;
          font-weight: 700;
          inline-size: 60%;
          font-size: 20px;
          }
          
          .h3-industria{
            margin-top: 10px;
            color: white;
            font-family: inter;
            font-weight: 400;
            font-size: 14px;
            width: 55%;
          }
        
        .buttonIndustriaHeader {
          display: flex;
          position: relative;
          top: 40px;
          padding: 6px 75px 6px 75px;
          border-radius: 6px;
          border: 0.2px transparent;
          background-color: #33FFCC;
          margin-bottom: -50px;
        }
        
        .buttonIndustriaHeader a {
          font-size: 12px;
          font-family: 'Inter';
          text-decoration: none;
          color: #3369FF;
        }

    }


  
  /* ///////////////Celular////////////*/
   
  @media only screen and (max-width: 600px) {
  
    .header-industria img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -300px!important;
    }
  
  
    .container-industria{
      top: 30px;
      width: 90%;
     
    }
  
    .container-industria{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-industria {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-industria{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  
    .h1-industria{
      margin-left: 0.1%;
     font-weight: 500;
     font-size: 100% !important;
     padding: 4PX;
     inline-size: min-content;
     width: 54%;
}
  
  .h2-industria{
    font-weight: 500;
    font-size: 80%;
  }
  
  
   
  .h3-industria{
    font-size: 60%;
  }
  
    .header-industria .imgPorDefectoMotos{
      display: none;
    }
    
    .header-industria .imgRemplazoMotos{
      display: none;
    }
  
    .header-industria .imgFotoCelular{
      display: block;
    }
  
    .buttonIndustriaHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonIndustriaHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  
  }



  @media only screen and (min-width: 431px) and (max-width: 599px) {

    .header-industria img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -300px!important;
    }
  
  
    .container-industria{
      top: 30px;
      width: 90%;
     
    }
  
    .container-industria{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-industria {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-industria{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-industria{
         margin-left: 0.1%;
        font-weight: 500;
        font-size: 100% !important;
        padding: 4PX;
        inline-size: min-content;
        width: 60%;
  }
  
  .h2-industria{
    font-weight: 500;
    font-size: 80%;
  }
   
  .h3-industria{
    font-size: 60%;
  }
  
    .header-industria .imgPorDefectoMotos{
      display: none;
    }
    
    .header-industria .imgRemplazoMotos{
      display: none;
    }
  
    .header-industria .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }

  }




  
  @media only screen and (min-width: 401px) and (max-width: 430px) {
  
    .header-industria img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -255px!important;
    }
  
  
    .container-industria{
      top: 30px;
      width: 90%;
     
    }
  
    .container-industria{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-industria {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-industria{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-industria{
         margin-left: 0.1%;
        font-weight: 500;
        font-size: 100% !important;
        padding: 4PX;
        inline-size: min-content;
        width: 60%;
  }
  
  .h2-industria{
    font-weight: 500;
    font-size: 80%;
  }
   
  .h3-industria{
    font-size: 60%;
  }
  
    .header-industria .imgPorDefectoMotos{
      display: none;
    }
    
    .header-industria .imgRemplazoMotos{
      display: none;
    }
  
    .header-industria .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }
  
  }


  @media only screen and (min-width: 361px) and (max-width: 400px) {

    .header-industria img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -195px!important;
    }
  
  
    .container-industria{
      top: 30px;
      width: 90%;
     
    }
  
    .container-industria{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-industria {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-industria{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-industria{
         margin-left: 0.1%;
        font-weight: 500;
        font-size: 100% !important;
        padding: 4PX;
        inline-size: min-content;
        width: 60%;
  }
  
  .h2-industria{
    font-weight: 500;
    font-size: 80%;
  }
   
  .h3-industria{
    font-size: 60%;
  }
  
    .header-industria .imgPorDefectoMotos{
      display: none;
    }
    
    .header-industria .imgRemplazoMotos{
      display: none;
    }
  
    .header-industria .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }

  }
  



  @media only screen and (min-width: 100px) and (max-width: 360px) {

    .header-industria img{
      position: absolute;
      display: flex;
      overflow: hidden;
      z-index: -1;
     margin-top: -165px!important;
    }
  
  
    .container-industria{
      top: 30px;
      width: 90%;
     
    }
  
    .container-industria{
      position: relative;
      z-index: 1;
      top: 50px!important;
      left:4%
    }
  
    .h1-industria {
    z-index: 1;
    color: white;
    font-size: 45px;
    margin-left: -10px;
    font-family: inter;
    background-color: rgba(51, 255, 204, 0.5);
    inline-size: fit-content;
    font-weight: 900!important;
    padding: 12px;
    top: 40px;
    } 
    
    .h2-industria{
    margin-top: 10px;
    color: white;
    font-family: inter;
    font-weight: 700!important;
    font-size: 12px!important;
    display: -webkit-box;
      -webkit-box-orient: horizontal;
      overflow: hidden;
      width: 80%; /* Ancho específico */
    }
   
    
    .h3-industria{
      margin-top:10px;
      color: white;
      font-family: inter;
      font-weight: 400;
      font-size: 8px!important;
    }
  
  
  .h1-industria{
         margin-left: 0.1%;
        font-weight: 500;
        font-size: 100% !important;
        padding: 4PX;
        inline-size: min-content;
        width: 60%;
  }
  
  .h2-industria{
    font-weight: 500;
    font-size: 80%;
  }
   
  .h3-industria{
    font-size: 60%;
  }
  
    .header-industria .imgPorDefectoMotos{
      display: none;
    }
    
    .header-industria .imgRemplazoMotos{
      display: none;
    }
  
    .header-industria .imgFotoCelular{
      display: block;
    }
  
    .buttonMotosHeader {
        display: flex;
          position: relative;
          top: 30px;
          padding: 8px 30px 8px 30px;
          border-radius: 8px;
          border: 0.2px transparent;
          background-color: #33FFCC;
      }
  
      .buttonMotosHeader a {
        font-size: 8px;
        font-family: 'Inter';
        text-decoration: none;
        color: #3369FF;
    }

  }
  
  
  
  
    