.divImgEmpresas-industria{
    margin-top: 425px;
}

.h2ImgEmpresas-industrial {
    font-family: Inter;
font-weight: 800;
font-size: 16px;
margin-top: -60px;
margin-bottom: 40px;
margin-left: 4%;
color: #3369FF;
}

.divImg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Ajusta el valor del gap según tus necesidades */
    margin-left: 2%;
}

.EmpresasgridImage {
    width: 100%;
    height:100%;
    object-fit: cover; 
    filter: grayscale(100%); /* convertir imágenes en escala de grises */
}

.EmpresasgridImage:hover {
    filter: none;
}




@media 
  (min-width: 1200px) and (max-width: 1400px) {
   

    .divImgEmpresas-industria{
        margin-top: 355px;
    }
    
    .h2ImgEmpresas-industrial {
        font-family: Inter;
    font-weight: 800;
    font-size: 16px;
    margin-top: -60px;
    margin-bottom: 40px;
    margin-left: 4%;
    color: #3369FF;
    }
    
    .divImg {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: 10px; /* Ajusta el valor del gap según tus necesidades */
    margin-left: 2%;
    }
    
    .EmpresasgridImage {
        width: 100%;
        height:100%;
        object-fit: cover; 
        filter: grayscale(100%); /* convertir imágenes en escala de grises */
    }
    
    .EmpresasgridImage:hover {
        filter: none;
    }


  }
  


  @media (min-width: 601px) and (max-width: 900px) {

    .divImgEmpresas-industria{
        margin-top: 270px;
    }

  }


@media only screen and (max-width: 600px) {

    .h2ImgEmpresas-industrial {
    font-family: Inter;
    font-weight: 800;
    font-size: 12px!important;
    margin-top: -60px;
    margin-bottom: 40px!important;
    margin-left: 4%;
    color: #3369FF;
    }

    .divImgEmpresas-industria {
        margin-top: 210px;
        
    }

    .EmpresasgridImage{
        height: 120%;
    }
}





@media(min-width: 100px) and (max-width: 360px) {

    .h2ImgEmpresas-industrial {
        font-family: Inter;
        font-weight: 800;
        font-size: 12px!important;
        margin-top: -60px;
        margin-bottom: 40px!important;
        margin-left: 4%;
        color: #3369FF;
        }
    
        .divImgEmpresas-industria {
            margin-top: 190px;
            
        }
    
        .EmpresasgridImage{
            height: 120%;
        }

}