.industrial-icon-celular {
  display: none;
}


/* Contenedor principal */
.industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
  }
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent; 
    padding: 20px;
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
  }
  
  /* Icono de la tarjeta */
  .industrial-icon {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
  }
  
  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }

  .industrial-padre-text p{
    font-size: 10px;
    position: relative;
    top: 34px;
    right: -90px;
    width: 90%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
}
  
  .industrial-padre-text h3 {
    font-size: 12px;
    position: relative;
    top: 34px;
    right: -90px;
    width: 90%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    font-weight: 800;
}




@media 
(min-width: 1200px) and (max-width: 1600px) { 

  .industrial-icon-celular {
    display: none;
  }
  

/* Contenedor principal */
.industrial-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  margin-top: 70px;
  margin-bottom: -20px;
}

/* Tarjeta individual */
.industrial-card {
  background-color: transparent; 
  padding: 20px;
  width: calc(50% - 10px);
  display: flex;
  align-items: flex-start;
  position: relative;
  margin-bottom: 20px;
}

/* Icono de la tarjeta */
.industrial-icon {
  width: 100%;
  height: auto;
  margin-right: 15px;
  position: absolute;
}

/* Título de la tarjeta */
.industrial-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 0;
  padding-top: 5px;
}

/* Descripción de la tarjeta */
.industrial-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-top: 5px;
  padding-right: 20px;
}

/* Línea de puntos estilo separador */
.industrial-card::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10px;
  right: 10px;
  height: 1px;
}

.industrial-padre-text p{
  font-size: 10px;
  position: relative;
  top: 0px;
  right: -69px;
  width: 90%;
  font-family: 'Inter';
  color: rgba(141, 139, 142, 1);
}

.industrial-padre-text h3 {
  font-size: 12px;
  position: relative;
  top: 0px;
  right: -69px;
  width: 90%;
  font-family: 'Inter';
  color: rgba(141, 139, 142, 1);
  font-weight: 800;
}

}






@media (min-width: 851px) and (max-width: 900px) {

  .industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: start;
    padding: 60px 60px 0px 30px;
    margin-top: 15px;
    margin-left: 0px;
}
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent;
    padding: 20px;
    width: calc(28% - -42px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 68px;
    right: 25px;
}
  
  /* SACO FOTO PANTALLA GRANDE */
  .industrial-icon {
    display: none;
  }
  
  .industrial-icon-celular {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
    display: flex;
  }



  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }
  
  .industrial-padre-text p {
    font-size: 11px;
    position: relative;
    top: 20px;
    right: -52px;
    width: 100%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    inline-size: 234px;
}
  
  .industrial-padre-text h3 {
    font-size: 12px;
    position: relative;
    top: 20px;
    right: -52px;
    width: 90%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    font-weight: 800;
}

}



@media (min-width: 601px) and (max-width: 850px) {

  .industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: start;
    padding: 60px -1px 0px 30px;
    margin-top: 15px;
    margin-left: 0px;
}
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent;
    padding: 25px;
    width: calc(18% - -118px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 68px;
    right: 25px;
}
  
  /* SACO FOTO PANTALLA GRANDE */
  .industrial-icon {
    display: none;
  }
  
  .industrial-icon-celular {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
    display: flex;
  }



  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }
  
  .industrial-padre-text p {
    font-size: 11px;
    position: relative;
    top: 20px;
    right: -52px;
    width: 100%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    inline-size: 234px;
}
  
  .industrial-padre-text h3 {
    font-size: 12px;
    position: relative;
    top: 20px;
    right: -52px;
    width: 90%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    font-weight: 800;
}

}




@media only screen and (max-width: 600px) { 
  .industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
    padding: 20px;
    margin-top: 15px;
  }
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent; 
    padding: 20px;
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    right: 25px;
  }
  
  /* SACO FOTO PANTALLA GRANDE */
  .industrial-icon {
    display: none;
  }
  
  .industrial-icon-celular {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
    display: flex;
  }



  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }
  
  .industrial-padre-text p{
        font-size: 7px;
        position: relative;
        top: 20px;
        right: -35px;
        width: 100%;
        font-family: 'Inter';
        color: rgba(141, 139, 142, 1);
        inline-size: 160px;
  }
  
  .industrial-padre-text h3 {
    font-size: 8px;
    position: relative;
    top: 20px;
    right: -35px;
    width: 90%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    font-weight: 800;
}


}



@media(min-width: 361px) and (max-width: 400px) {

  .industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: -50px;
  }
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent; 
    padding: 20px;
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    right: 25px;
  }
  
  /* SACO FOTO PANTALLA GRANDE */
  .industrial-icon {
    display: none;
  }
  
  .industrial-icon-celular {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
    display: flex;
  }

  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }
  
  .industrial-padre-text p {
    font-size: 7px;
    position: relative;
    top: -5px;
    right: -31px;
    width: 100%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    inline-size: 148px;
}
  
.industrial-padre-text h3 {
  font-size: 8px;
  position: relative;
  top: -5px;
  right: -31px;
  width: 90%;
  font-family: 'Inter';
  color: rgba(141, 139, 142, 1);
  font-weight: 800;
}
    
}





@media(min-width: 100px) and (max-width: 360px) {

  .industrial-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: -50px;
  }
  
  /* Tarjeta individual */
  .industrial-card {
    background-color: transparent; 
    padding: 20px;
    width: calc(50% - 10px);
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-bottom: 20px;
    right: 25px;
  }
  
  /* SACO FOTO PANTALLA GRANDE */
  .industrial-icon {
    display: none;
  }
  
  .industrial-icon-celular {
    width: 100%;
    height: auto;
    margin-right: 15px;
    position: absolute;
    display: flex;
  }

  /* Título de la tarjeta */
  .industrial-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    margin: 0;
    padding-top: 5px;
  }
  
  /* Descripción de la tarjeta */
  .industrial-description {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-top: 5px;
    padding-right: 20px;
  }
  
  /* Línea de puntos estilo separador */
  .industrial-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 10px;
    right: 10px;
    height: 1px;
  }
  
  .industrial-padre-text p {
    font-size: 7px;
    position: relative;
    top: -5px;
    right: -31px;
    width: 100%;
    font-family: 'Inter';
    color: rgba(141, 139, 142, 1);
    inline-size: 148px;
}
  
.industrial-padre-text h3 {
  font-size: 8px;
  position: relative;
  top: -5px;
  right: -31px;
  width: 90%;
  font-family: 'Inter';
  color: rgba(141, 139, 142, 1);
  font-weight: 800;
}
    
}