.coberturas-container-auto {
  text-align: left;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #2b2b2b;
  margin-top: 420px;
  margin-bottom: -385px;
  margin-left: 35px;
}

.coberturas-container-auto h2 {
  color: rgba(51, 105, 255, 1);
  font-weight: 800;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: inter;
}

.cards-container-auto {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px; 
  margin: 0; 
  padding: 0; 
  margin-left: -6px;
}

.card-coberturas-auto {
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 17px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  width: 275px;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  gap: 10px; 
}

.card-coberturas-auto .h3-coberturas-auto {
  color: rgba(51, 105, 255, 1);
  font-size: 14px;
  font-family: inter;
  font-weight: 800;
  margin: 0; 
  padding: 0; 
}

.card-coberturas-auto .p-coberturas-auto {
  font-size: 12px;
  line-height: 1.5;
  font-family: inter;
  font-weight: 400;
  margin: 0; 
  color: rgba(141, 139, 142, 1);
}

.card-coberturas-auto button {
  background-color: rgba(51, 105, 255, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: inter;
  font-weight: 500;
  margin-top: auto; 
  transition: background-color 0.3s ease;
}


@media 
(min-width: 1401px) and (max-width: 1700px) {

  .coberturas-container-auto {
    text-align: left;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #2b2b2b;
    margin-top: 350px;
    margin-bottom: -345px;
    margin-left: 35px;
  }
  
  .coberturas-container-auto h2 {
    color: rgba(51, 105, 255, 1);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: inter;
  }
  
  .cards-container-auto {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 20px; 
    margin: 0; 
    padding: 0; 
    margin-left: -6px;
  }
  
  .card-coberturas-auto {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 17px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 275px;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    gap: 10px; 
  }
  
  .card-coberturas-auto .h3-coberturas-auto {
    color: rgba(51, 105, 255, 1);
    font-size: 14px;
    font-family: inter;
    font-weight: 800;
    margin: 0; 
    padding: 0; 
  }
  
  .card-coberturas-auto .p-coberturas-auto {
    font-size: 12px;
    line-height: 1.5;
    font-family: inter;
    font-weight: 400;
    margin: 0; 
    color: rgba(141, 139, 142, 1);
  }
  
  .card-coberturas-auto button {
    background-color: rgba(51, 105, 255, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-family: inter;
    font-weight: 500;
    margin-top: auto; 
    transition: background-color 0.3s ease;
  }
  
}


@media 
  (min-width: 1200px) and (max-width: 1400px) {
   

    .coberturas-container-auto {
      text-align: left;
      padding: 20px;
      font-family: Arial, sans-serif;
      color: #2b2b2b;
      margin-top: 260px;
      margin-bottom: -345px;
      margin-left: 35px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: inter;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 20px; 
      margin: 0; 
      padding: 0; 
      margin-left: -6px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      width: 275px;
      padding: 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      gap: 10px; 
    }
    
    .card-coberturas-auto .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 14px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 12px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }

  @media (min-width: 601px) and (max-width: 900px) {
    .coberturas-container-auto {
      text-align: left;
      padding: 20px;
      font-family: Arial, sans-serif;
      color: #2b2b2b;
      margin-top: 230px;
      margin-bottom: -215px;
      margin-left: 20px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 16px;
      font-family: inter;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 20px; 
      margin: 0; 
      padding: 0; 
      margin-left: -6px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
      width: 365px;
      padding: 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; 
      gap: 8px; 
    }
    
    .card-coberturas-auto .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 14px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 12px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }


  @media only screen and (max-width: 600px) {

    .coberturas-container-auto{
      text-align: left;
      font-family: inter;
      color: #2b2b2b;
      margin-top: 420px;
      margin-bottom: -195px;
      margin-left: 27px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: inter;
      margin-left: -30px;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 6px; 
      margin: 0; 
      padding: 0; 
      margin-left: -34px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 96px;
      padding: 14px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 15px; 
      flex: 1 45%;
    }
    
    .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 12px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
      margin-left: -33px;
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 10px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }




  @media only screen and (min-width: 401px) and (max-width: 480px) {

    .coberturas-container-auto{
      text-align: left;
      font-family: inter;
      color: #2b2b2b;
      margin-top: 420px;
      margin-bottom: -195px;
      margin-left: 27px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: inter;
      margin-left: -30px;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 6px; 
      margin: 0; 
      padding: 0; 
      margin-left: -34px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 96px;
      padding: 14px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 15px; 
      flex: 1 45%;
    }
    
    .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 12px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
      margin-left: -33px;
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 10px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }



  @media only screen and (min-width: 361px) and (max-width: 400px) {

    .coberturas-container-auto{
      text-align: left;
      font-family: inter;
      color: #2b2b2b;
      margin-top: 330px;
      margin-bottom: -195px;
      margin-left: 26px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: inter;
      margin-left: -30px;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 6px; 
      margin: 0; 
      padding: 0; 
      margin-left: -34px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 96px;
      padding: 14px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 15px; 
      flex: 1 45%;
    }
    
    .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 12px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
      margin-left: -33px;
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 10px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }



  
  @media only screen and (min-width: 100px) and (max-width: 360px) {

    .coberturas-container-auto{
      text-align: left;
      font-family: inter;
      color: #2b2b2b;
      margin-top: 290px;
      margin-bottom: -195px;
      margin-left: 25px;
    }
    
    .coberturas-container-auto h2 {
      color: rgba(51, 105, 255, 1);
      font-weight: 800;
      margin-bottom: 20px;
      font-size: 12px;
      font-family: inter;
      margin-left: -30px;
    }
    
    .cards-container-auto {
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      gap: 6px; 
      margin: 0; 
      padding: 0; 
      margin-left: -34px;
    }
    
    .card-coberturas-auto {
      background-color: #ffffff;
      border: 1px solid transparent;
      border-radius: 17px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      width: 96px;
      padding: 14px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      gap: 15px; 
      flex: 1 45%;
    }
    
    .h3-coberturas-auto {
      color: rgba(51, 105, 255, 1);
      font-size: 12px;
      font-family: inter;
      font-weight: 800;
      margin: 0; 
      padding: 0; 
      margin-left: -33px;
    }
    
    .card-coberturas-auto .p-coberturas-auto {
      font-size: 10px;
      line-height: 1.5;
      font-family: inter;
      font-weight: 400;
      margin: 0; 
      color: rgba(141, 139, 142, 1);
    }
    
    .card-coberturas-auto button {
      background-color: rgba(51, 105, 255, 1);
      color: rgba(255, 255, 255, 1);
      border: none;
      padding: 8px 15px;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      font-family: inter;
      font-weight: 500;
      margin-top: auto; 
      transition: background-color 0.3s ease;
    }
    
    
    

  }