.insurance-cards-ap {
    display: flex;
    justify-content: space-between;
    padding: 4rem!important;
    margin-top: 30px;
  }
  
  .card-ap {
    padding: 1.5rem;
    text-align: center;
    width: 31%;
    z-index: 1;
  }
  
  
  .card-ap-image {
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
  }
  
  .card-ap h3 {
    color: #3369FF;
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-family: inter;
    font-weight: 700;
  }
  
  .card-ap p {
    color: #8D8B8E;
    font-size: 12px;
    margin-bottom: 1rem;
    font-family: inter;
    font-weight: 400;
  }
  
  .card-ap button {
    background-color: #0053f0;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-family: 'Inter';
    padding: 12px 70px;
  }

  .insurance-cards-ap {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 50px;
    position: relative;
}

.card-ap {
    padding: 1.5rem;
    text-align: center;
    width: 31%;
    z-index: 1;
    position: relative;
}

.card-ap:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -15px; /* Ajusta la distancia para centrar el separador */
    width: 0.14888%;
    height: 90%;
    background-color: #8d8b8e60; /* Color del separador */
}


.h2CardAp {
  display: none;
}
  
  /* .card-ap button:hover {
    background-color: #0041c4;
  }
   */
   @media 
   (min-width: 1200px) and (max-width: 1600px) {

    .insurance-cards-ap {
      display: flex;
      justify-content: space-between;
      padding: 2rem!important;
      margin-top: 30px;
    }
    
    .card-ap {
      padding: 1.5rem;
      text-align: center;
      width: 31%;
      z-index: 1;
    }
    
    
    .card-ap-image {
      width: 50px;
      height: 50px;
      margin-bottom: 1rem;
    }
    
    .card-ap h3 {
      color: #3369FF;
      font-size: 16px;
      margin-bottom: 0.5rem;
      font-family: inter;
      font-weight: 700;
    }
    
    .card-ap p {
      color: #8D8B8E;
      font-size: 12px;
      margin-bottom: 1rem;
      font-family: inter;
      font-weight: 400;
    }
    
    .card-ap button {
      background-color: #0053f0;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      font-size: 12px;
      font-family: 'Inter';
      padding: 12px 70px;
    }
  
    .insurance-cards-ap {
      display: flex;
      justify-content: space-between;
      padding: 2rem;
      margin-top: 50px;
      position: relative;
  }
  
  .card-ap {
      padding: 1.5rem;
      text-align: center;
      width: 31%;
      z-index: 1;
      position: relative;
  }
  
  .card-ap:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 10px;
      right: -15px; /* Ajusta la distancia para centrar el separador */
      width: 0.14888%;
      height: 90%;
      background-color: #8d8b8e60; /* Color del separador */
  }
  
  
  .h2CardAp {
    display: none;
  }

   }

   @media only screen and (max-width: 600px) {

    .insurance-cards-ap {
      display: grid;
        justify-content: space-evenly;
        padding: 1rem;
        margin-top: 50px;
        position: relative;
        grid-template-columns: max-content;
        border: 1px solid rgba(255, 255, 255, 1);
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
  }

  .card-ap {
    padding: 2rem;
    text-align: center;
    width:29%;
    z-index: 1;
    position: relative;
}


.card-ap:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 245px;
  right: 22px;
  width: 92%;
  height: 0.135353242%;
  background-color: #8d8b8e60;
}


.card-ap-image {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-ap h3 {
  color: #3369FF;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 700;
}

.card-ap p {
  color: #8D8B8E;
  font-size: 8px;
  margin-bottom: 1rem;
  font-family: inter;
  font-weight: 400;
}

.card-ap button {
  background-color: #0053f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter';
  padding: 12px 70px;
}


.h2CardAp {
  font-family: inter;
  font-weight: 800;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: -20px;
  color: #3369FF;
  margin-left: 6%;
}

   }


   @media only screen and (min-width: 426px) and (max-width: 500px) {

    .insurance-cards-ap {
      display: grid;
        justify-content: space-evenly;
        padding: 20px 0px 40px 60px!important;
        margin-top: 50px;
        position: relative;
        grid-template-columns: max-content;
        border: 1px solid rgba(255, 255, 255, 1);
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
  }

  .card-ap {
    padding: 0rem;
    text-align: center;
    width:25%;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}


.card-ap:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 200px;
  right: -30px;
  width: 123%;
  height: 0.135353242%;
  background-color: #8d8b8e60;
}


.card-ap-image {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-ap h3 {
  color: #3369FF;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 700;
}

.card-ap p {
  color: #8D8B8E;
  font-size: 8px;
  margin-bottom: 1rem;
  font-family: inter;
  font-weight: 400;
}

.card-ap button {
  background-color: #0053f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter';
  padding: 12px 70px;
}


.h2CardAp {
  font-family: inter;
  font-weight: 800;
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: -20px;
  color: #3369FF;
  margin-left: 6%;
}

   }





   @media only screen and (min-width: 391px) and (max-width: 425px) {

    .insurance-cards-ap {
      display: grid;
        justify-content: space-evenly;
        padding: 0rem;
        margin-top: 50px;
        position: relative;
        grid-template-columns: max-content;
        border: 1px solid rgba(255, 255, 255, 1);
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
  }

  .card-ap {
    padding: 0rem;
    text-align: center;
    width:22%;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
}


.card-ap:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 205px;
  right: -23px;
  width: 120%;
  height: 0.135353242%;
  background-color: #8d8b8e60;
}


.card-ap-image {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-ap h3 {
  color: #3369FF;
  font-size: 14px;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 700;
}

.card-ap p {
  color: #8D8B8E;
  font-size: 8px;
  margin-bottom: 1rem;
  font-family: inter;
  font-weight: 400;
}

.card-ap button {
  background-color: #0053f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter';
  padding: 12px 70px;
}
   }


   @media only screen and (min-width: 361px) and (max-width: 390px) {

    .insurance-cards-ap {
      display: grid;
        justify-content: space-evenly;
        padding: 0rem;
        margin-top: 50px;
        position: relative;
        grid-template-columns: max-content;
        border: 1px solid rgba(255, 255, 255, 1);
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
  }

  .card-ap {
    padding: 0px 0px 25px 0px;
    text-align: center;
    width:21%;
    z-index: 1;
    position: relative;
}


.card-ap:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 206px;
  right: -33px;
  width: 131%;
  height: 0.135353242%;
  background-color: #8d8b8e60;
}


.card-ap-image {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-ap h3 {
  color: #3369FF;
  font-size: 12px;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 700;
}

.card-ap p {
  color: #8D8B8E;
  font-size: 8px;
  margin-bottom: 1rem;
  font-family: inter;
  font-weight: 400;
}

.card-ap button {
  background-color: #0053f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter'; 
  padding: 12px 70px;

   }
  }

  @media only screen and (min-width: 100px) and (max-width: 360px){


    .insurance-cards-ap {
      display: grid;
        justify-content: space-evenly;
        padding: 0rem;
        margin-top: 50px;
        position: relative;
        grid-template-columns: max-content;
        border: 1px solid rgba(255, 255, 255, 1);
        width: 90%;
        margin-left: 5%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
  }

  .card-ap {
    padding: 0px 0px 25px 0px;
    text-align: center;
    width:19%;
    z-index: 1;
    position: relative;
}


.card-ap:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 206px;
  right: -33px;
  width: 131%;
  height: 0.135353242%;
  background-color: #8d8b8e60;
}


.card-ap-image {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.card-ap h3 {
  color: #3369FF;
  font-size: 12px;
  margin-bottom: 0.5rem;
  font-family: inter;
  font-weight: 700;
}

.card-ap p {
  color: #8D8B8E;
  font-size: 8px;
  margin-bottom: 1rem;
  font-family: inter;
  font-weight: 400;
}

.card-ap button {
  background-color: #0053f0;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Inter'; 
  padding: 12px 70px;

   }

  }