
.coberturas-container-acc {
    width: 100%;
    padding: 0px 20px;
    position: relative;
}

.imgCoberturas-acc{
    height: auto;
    max-width: 100%;
    margin: 0px 20px;

}

.cobertura-text-acc {
    position: absolute;
    top: 80px;
    left: 165px;

}

.cobertura-text-acc h3 {
    font-size: 16px;
    color: #8D8B8E;
    font-weight: 800;
    font-family: inter;
}

.cobertura-text-acc p {
    font-size: 14px;
    color: #8D8B8E;
    font-weight: 400;
    font-family: inter;
}