.semisphere-container {
  position: relative;
  width: 100%;
  padding: 40px 20px;
  background-color: #fFfFfF; 
  overflow: hidden;
  height: 920px;
}

.semisphere {
  display: none;
  position: absolute;
  top: 323px;
  left: 1px;
  width: 818px;
  height: 597px;
  background: radial-gradient(ellipse, rgba(51, 255, 204, 1) -70%, rgba(235, 254, 249, 0) 67%);
  border-bottom-right-radius: 345px;
  transform: translate(-65%, -48%);
}

.content {
  position: relative;
  z-index: 1;
}


.h2__comp{
font-size: 18px;
font-family: 'Inter';
font-weight: 800;
color: #3369FF;
display: flex;
margin: 20px 20px;
}

.containerCard__1{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 65px!important;
padding: 20px;

}

.cards__1 {
background-color: white;
border-radius: 12px;
box-shadow: 0 0 10px #8d8b8e40;
width: 80%;
max-width: 275px;
padding: 10px 20px 20px 20px;
text-align: center;
}

.cards__1 p {
font-size: 12px;
font-family: 'Inter';
font-weight: 400;
color: #8D8B8E;
padding: 20px 0px 0px 0px;
}


.cards__1:hover {
cursor: pointer;
background-color: #3369FF;
}

.cards__1:hover p{
color: #fff;
}

.cards__1 img {
display: block;
width: 75%;
margin: 0 auto;
}

.cards__1 .hover-image {
display: none;
}

.cards__1:hover img {
display: none;
}

.cards__1:hover .hover-image {
display: block;
}




/* EMPIEZA EL COMPONENTE DE EMPRESAS */



.containerCompañies {
  z-index: 1;
  margin: 5px 30px 0px 30px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px; /* Ajusta el valor del gap según tus necesidades */
}

.grid-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
  position: relative;
  z-index: 1;
  filter: grayscale(100%); /* convertir imágenes en escala de grises */
}

.grid-image:hover {
  filter: none; /* revertir efecto de grises cuando se pasa el mouse */
  cursor: pointer;
}


.h3__comp{
  font-size: 18px;
  font-family: 'Inter';
  font-weight: 800;
  color: #3369FF;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}



/* TERMINA EL COMPONENTE DE EMPRESAS */


.containerMarca{
margin: 30px 50px 90PX 50PX;
}

.containerMarca h3 {
font-family: inter;
font-size: 16px;
font-weight: 600;
color: #3369FF;
margin-bottom: 15px;
}

.containerMarca p {
font-family: inter;
font-size: 12px;
font-weight: 400;
color: #8D8B8E;
inline-size: 900px;
}


.content__child {
position: relative;
z-index: 2;
padding: 2rem;
text-align: center;
}


/* Stylos del newsletter */

.containerNewsletter {
  background-color: #3369FF;
  width: 100%;
  height: 175px;
  margin-top: 50px;
}

.newsletter__h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px 0px;
  font-size: 16px;
  font-family: 'Inter';
  color: #fff;
  font-weight: 800;
}

.newsletter__p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin-top: -20px;
  font-family: 'Inter';
  color: #fff;
  font-weight: 400;
}

.newsletter__input {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.container__form__p p{
  margin: 15px !important;
  font-size: 16px;
  font-family: inter;
  font-weight: 800;
  color: rgba(51, 105, 255, 1);
}

.semisphere-container-two{
  position: relative;
  width: 100%;
  padding: 40px 20px;
  background-color: #fFfFfF;
  overflow: hidden;
  height: 415px;
  margin-bottom: -65px;
}

.semisphere-two{
  position: absolute;
  top: 225px;
  left: 80px;
  width: 818px;
  height: 701px;
  background: radial-gradient(ellipse, rgba(51, 255, 204, 10) -70%, rgba(235, 254, 249, 0) 67%);
  border-bottom-right-radius: 345px;
  transform: translate(-65%, -50%);
}


@media 
(min-width: 1200px) and (max-width: 1600px) {


.semisphere-container {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    background-color: #fFfFfF; /* Fondo gris claro */
    overflow: hidden;
    height: 680px;
  }
  
  .semisphere {
    position: absolute;
    top: 323px;
    left: 1px;
    width: 818px;
    height: 597px;
    background: radial-gradient(ellipse, rgba(51, 255, 204, 1) -70%, rgba(235, 254, 249, 0) 67%);
    border-bottom-right-radius: 345px;
    transform: translate(-65%, -48%);
  }
  
.content {
    position: relative;
    z-index: 1;
}


.h2__comp{
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 800;
  color: #3369FF;
  display: flex;
  margin: 20px 20px;
}

.containerCard__1{
  display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 23px!important;
padding: 20px;

}

.cards__1 {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px #8d8b8e40;
  width: 80%;
  max-width: 275px;
  padding: 10px 20px 20px 20px;
  text-align: center;
}

.cards__1 p {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 400;
  color: #8D8B8E;
  padding: 20px 0px 0px 0px;
}


.cards__1:hover {
  cursor: pointer;
  background-color: #3369FF;
}

.cards__1:hover p{
  color: #fff;
}

.cards__1 img {
  display: block;
  width: 75%;
  margin: 0 auto;
}

.cards__1 .hover-image {
  display: none;
}

.cards__1:hover img {
  display: none;
}

.cards__1:hover .hover-image {
  display: block;
}




/* EMPIEZA EL COMPONENTE DE EMPRESAS */



.containerCompañies {
    z-index: 1;
    margin: 5px 30px 0px 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Ajusta el valor del gap según tus necesidades */
  }
  
  .grid-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    position: relative;
    z-index: 1;
    filter: grayscale(100%); /* convertir imágenes en escala de grises */
  }

  .grid-image:hover {
    filter: none; /* revertir efecto de grises cuando se pasa el mouse */
    cursor: pointer;
  }


.h3__comp{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
    color: #3369FF;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}



/* TERMINA EL COMPONENTE DE EMPRESAS */


.containerMarca{
  margin: 30px 50px 90PX 50PX;
}

.containerMarca h3 {
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: #3369FF;
  margin-bottom: 15px;
}

.containerMarca p {
  font-family: inter;
  font-size: 12px;
  font-weight: 400;
  color: #8D8B8E;
  inline-size: 900px;
}


.background-semisphere {
  position: absolute;
        top: 2197px;
        left: 1512px;
        width: 926px;
        height: 650px;
        background: radial-gradient(ellipse, rgb(214, 225, 255) 30%, rgba(235, 254, 249, 0) 67%);
        border-bottom-right-radius: 345px;
        transform: translate(-65%, -48%);
        z-index: -1;
}

.content__shemispere {
  margin-top: 100px;
}


.content__child {
  position: relative;
  z-index: 2;
  padding: 2rem;
  text-align: center;
}


  /* Stylos del newsletter */

  .containerNewsletter {
    background-color: #3369FF;
    width: 100%;
    height: 175px;
    margin-top: 50px;
  }

  .newsletter__h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0px;
    font-size: 16px;
    font-family: 'Inter';
    color: #fff;
    font-weight: 800;
  }

  .newsletter__p {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    margin-top: -20px;
    font-family: 'Inter';
    color: #fff;
    font-weight: 400;
  }

  .newsletter__input {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
  }

  .container__form__p p{
    margin: 15px !important;
    font-size: 16px;
    font-family: inter;
    font-weight: 800;
    color: rgba(51, 105, 255, 1);
  }
  
  .semisphere-container-two{
    position: relative;
    width: 100%;
    padding: 40px 20px;
    background-color: #fFfFfF;
    overflow: hidden;
    height: 415px;
    margin-bottom: -65px;
  }

  .semisphere-two{
    position: absolute;
    top: 225px;
    left: 80px;
    width: 818px;
    height: 701px;
    background: radial-gradient(ellipse, rgba(51, 255, 204, 10) -70%, rgba(235, 254, 249, 0) 67%);
    border-bottom-right-radius: 345px;
    transform: translate(-65%, -50%);
}
  }




  @media only screen and (max-width: 600px){


    .semisphere-container {
      position: relative;
      width: 100%;
      padding: 40px 20px;
      background-color: #fFfFfF; 
      overflow: hidden;
      height: 740px;
    }

    .h2__comp{
      font-size: 16px;
      font-family: 'Inter';
      font-weight: 800;
      color: #3369FF;
      display: flex;
      margin: 20px 20px;
    }
    
    .containerCard__1{
      display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10px!important;
    padding: 20px;
    
    
    }
    
    .cards__1 {
      background-color: white;
      border-radius: 12px;
      box-shadow: 0 0 10px #8d8b8e40;
      width: 80%;
      max-width: 270px;
      padding: 10px 20px 20px 20px;
      text-align: center;
      flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    }
    
    .cards__1 p {
      font-size: 12px;
      font-family: 'Inter';
      font-weight: 400;
      color: #8D8B8E;
      padding: 20px 0px 0px 0px;
    }
    
    
    .cards__1:hover {
      cursor: pointer;
      background-color: #3369FF;
    }
    
    .cards__1:hover p{
      color: #fff;
    }
    
    .cards__1 img {
      display: block;
      width: 75%;
      margin: 0 auto;
    }
    
    .cards__1 .hover-image {
      display: none;
    }
    
    .cards__1:hover img {
      display: none;
    }
    
    .cards__1:hover .hover-image {
      display: block;
    }
    


/* EMPIEZA EL COMPONENTE DE EMPRESAS */



.containerCompañies {
  z-index: 1;
  margin: 5px 30px 0px 30px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
  margin-bottom: 20px;
}


.grid-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
  position: relative;
  z-index: 1;
  filter: grayscale(100%); /* convertir imágenes en escala de grises */
}

.grid-image:hover {
  filter: none; /* revertir efecto de grises cuando se pasa el mouse */
  cursor: pointer;
}


.h3__comp{
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 800;
  color: #3369FF;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}



/* TERMINA EL COMPONENTE DE EMPRESAS */


.containerMarca{
  margin: 30px 0px 30PX 30PX;
}

.containerMarca h3 {
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: #3369FF;
  margin-bottom: 15px;
}

.containerMarca p {
  font-family: inter;
  font-size: 12px;
  font-weight: 400;
  color: #8D8B8E;
  inline-size: 332px;
}

.containerNewsletter {
  background-color: #3369FF;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

.newsletter__h3 {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 30px 0px;
  font-size: 16px;
  font-family: 'Inter';
  color: #fff;
  font-weight: 800;
}

.newsletter__p {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 12px;
  margin-top: -20px;
  font-family: 'Inter';
  color: #fff;
  font-weight: 400;
}

.newsletter__input {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: center;
}

.container__form__p p{
  margin: 23px 7px 10px 20px !important;
        font-size: 16px;
        font-family: inter;
        font-weight: 800;
        color: rgba(51, 105, 255, 1);
}



.semisphere-two{
  display: none;
}
  }
