
@media 
(min-width: 600px) and (max-width: 1400px) {


.semisphere-container {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    background-color: #fFfFfF; /* Fondo gris claro */
    overflow: hidden;
    height: 750px;
  }
  
  .semisphere {
    position: absolute;
    top: 350px;
    left: -35px;
    width: 926px;
    height: 650px;
    background: radial-gradient(ellipse, rgba(51, 255, 204, 1) 1%, rgba(235, 254, 249, 0) 67%);
    border-bottom-right-radius: 345px;
    transform: translate(-65%, -48%);
  }
  
.content {
    position: relative;
    z-index: 1;
}

.h2__comp{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
    color: #3369FF;
    display: flex;
    margin: 20px 20px;
}

.containerCard__1{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 23px;
  padding: 20px;

}

.cards__1 {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 10px #8d8b8e40;
    width: 100%;
    max-width: 275px;
    padding: 20px;
    text-align: center;
}

.cards__1 p {
    font-size: 12px;
    font-family: 'Inter';
    font-weight: 400;
    color: #8D8B8E;
}

.containerCompañies {
    z-index: 1;
    margin: 5px 30px 0px 30px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px; /* Ajusta el valor del gap según tus necesidades */
  }
  
  .grid-image {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; 
    position: relative;
    z-index: 1;
  }

.h3__comp{
    font-size: 16px;
    font-family: 'Inter';
    font-weight: 800;
    color: #3369FF;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.containerMarca{
  margin: 100px 50px;
}

.containerMarca h3 {
  font-family: inter;
  font-size: 16px;
  font-weight: 600;
  color: #3369FF;
  margin-bottom: 15px;
}

.containerMarca p {
  font-family: inter;
  font-size: 12px;
  font-weight: 400;
  color: #8D8B8E;
  inline-size: 900px;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: -50px 50px 100px;
  gap: 20px;
}

.card-con {
  border: 1.5px solid #3369FF;
    width: 300px;
    align-items: center;
    border-radius: 26px;
    background-color: #ffffff;
    z-index: 21;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 16px;
}

.card-br {
  border: 1.5px solid #3369FF;
  border-radius: 16px;
  position: relative;
  top: -6px;
  left: -6px;
  background-color: #ffffff;
  padding-bottom: 10px;
}


.card-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-c img {
  width: 100px;
}

.card-br h3 {
  font-family: inter; 
  font-size: 700;
  color: #3369FF;
  font-size: 16px;
}


.background-semisphere {
  position: absolute;
  top: 2130px;
  left: 1550px;
  width: 926px;
  height: 650px;
  background: radial-gradient(ellipse, rgb(214, 225, 255) 30%, rgba(235, 254, 249, 0) 67%);
  border-bottom-right-radius: 345px;
  transform: translate(-65%, -48%);
}

.content__child {
  position: relative;
  z-index: 2;
  padding: 2rem;
  text-align: center;
}

}
